n8n-sponge-club-workflow.json
{
  "name": "[비비안] AAA 공유회",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sponge-club-notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, 300],
      "id": "webhook-sponge",
      "name": "[Webhook] 알림 트리거"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08GAFCNKCM",
          "mode": "list",
          "cachedResultName": "form제출-이기적공유회"
        },
        "text": "=:tada: {{ $json.body.u_name }}님 AAA 공유회 신청!\n\n:fire: [프로그램명] : {{ $json.body.item_title }}\n:star2: [누적신청자] : {{ $json.body.event_count }}명\n:repeat: [리텐션 여부] : {{ $json.body.is_new }}\n:email: [이메일] : {{ $json.body.u_email }}\n:phone: [전화번호] : {{ $json.body.u_phone }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [700, 200],
      "id": "slack-notify",
      "name": "[Slack] 공유회 신청 알림",
      "credentials": {
        "slackApi": {
          "id": "Um8OhZ3P2tqpS9Zx",
          "name": "Slack API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.body.u_phone }}",
        "channelId": "KA01PF240125063749199ZgJ6Y7BfG9c",
        "templateId": "KA01TP250227090718801CffOFWkaVWi",
        "variables": {
          "variable": [
            { "name": "#{이름}", "value": "={{ $json.body.u_name }}" },
            { "name": "#{공유회명}", "value": "={{ $json.body.item_title }}" },
            { "name": "#{라이브일정}", "value": "={{ $json.body.item_schedule }}" },
            { "name": "#{url}", "value": "=www.selfishclub.xyz/sharing/sponge-club" }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [700, 420],
      "id": "solapi-alimtok",
      "name": "[SOLAPI] 알림톡",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "[Webhook] 알림 트리거": {
      "main": [
        [
          { "node": "[Slack] 공유회 신청 알림", "type": "main", "index": 0 },
          { "node": "[SOLAPI] 알림톡", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
