n8n-sponge-club-workflow.json
{
  "name": "스폰지클럽 공유회 신청",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sponge-club-register",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [400, 300],
      "id": "webhook-sponge",
      "name": "[Webhook] sponge-club"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "u_name", "value": "={{ $json.body.u_name }}", "type": "string" },
            { "id": "2", "name": "u_phone", "value": "={{ $json.body.u_phone }}", "type": "string" },
            { "id": "3", "name": "u_email", "value": "={{ $json.body.u_email }}", "type": "string" },
            { "id": "4", "name": "submittedAt", "value": "={{ new Date(Date.now() + 9*60*60*1000).toISOString().replace('Z', '') }}", "type": "string" },
            { "id": "5", "name": "slug", "value": "sponge-club", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 300],
      "id": "data-setting",
      "name": "[Data Setting]",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "item",
        "filters": {
          "conditions": [
            { "keyName": "i_formid_webflow", "keyValue": "sponge-club" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [840, 300],
      "id": "get-item",
      "name": "[Get] item",
      "credentials": {
        "supabaseApi": {
          "id": "XszFVXqj7lsiCqLn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CASE WHEN EXISTS ( SELECT 1 FROM public.event WHERE REGEXP_REPLACE(u_phone, '^0+', '') = REGEXP_REPLACE('{{ $('[Data Setting]').item.json.u_phone }}', '^0+', '') OR u_phone = '{{ $('[Data Setting]').item.json.u_phone }}' ) THEN 'retention' ELSE 'new' END AS isretention;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1060, 300],
      "id": "sql-retention",
      "name": "[SQL] retention / new",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "event",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "iid", "fieldValue": "={{ $('[Get] item').item.json.iid }}" },
            { "fieldId": "e_created_at", "fieldValue": "={{ $('[Data Setting]').item.json.submittedAt }}" },
            { "fieldId": "i_title", "fieldValue": "={{ $('[Get] item').item.json.i_title }}" },
            { "fieldId": "i_type", "fieldValue": "={{ $('[Get] item').item.json.i_type }}" },
            { "fieldId": "u_name", "fieldValue": "={{ $('[Data Setting]').item.json.u_name }}" },
            { "fieldId": "u_phone", "fieldValue": "={{ $('[Data Setting]').item.json.u_phone }}" },
            { "fieldId": "u_email", "fieldValue": "={{ $('[Data Setting]').item.json.u_email }}" },
            { "fieldId": "e_marketingagree_tf", "fieldValue": "TRUE" },
            { "fieldId": "e_infoagree_tf", "fieldValue": "TRUE" },
            { "fieldId": "e_new_tf", "fieldValue": "={{ $json.isretention }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1280, 300],
      "id": "add-event",
      "name": "[Add] Event",
      "credentials": {
        "supabaseApi": {
          "id": "XszFVXqj7lsiCqLn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS row_count FROM public.event WHERE iid = '{{ $('[Get] item').item.json.iid }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, 300],
      "id": "sql-count",
      "name": "[SQL] 누적신청자 수",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08GAFCNKCM",
          "mode": "list",
          "cachedResultName": "form제출-이기적공유회"
        },
        "text": "=:tada: {{ $('[Data Setting]').item.json.u_name }}님 스폰지클럽 공유회 신청!\n\n:fire: [프로그램명] : {{ $('[Get] item').item.json.i_title }}\n:star2: [누적신청자] : {{ $json.row_count }}명\n:repeat: [리텐션 여부] : {{ $('[SQL] retention / new').item.json.isretention }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1720, 200],
      "id": "slack-notify",
      "name": "[Slack] 공유회 신청 알림",
      "credentials": {
        "slackApi": {
          "id": "Um8OhZ3P2tqpS9Zx",
          "name": "Slack API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $('[Data Setting]').item.json.u_phone }}",
        "channelId": "KA01PF240125063749199ZgJ6Y7BfG9c",
        "templateId": "KA01TP250227090718801CffOFWkaVWi",
        "variables": {
          "variable": [
            { "name": "#{이름}", "value": "={{ $('[Data Setting]').item.json.u_name }}" },
            { "name": "#{공유회명}", "value": "={{ $('[Get] item').item.json.i_title_userside }}" },
            { "name": "#{라이브일정}", "value": "={{ $('[Get] item').item.json.i_full_schedule }}" },
            { "name": "#{url}", "value": "=www.selfishclub.xyz/sharing/sponge-club" }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [1720, 400],
      "id": "solapi-alimtok",
      "name": "[SOLAPI] 알림톡",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"신청 완료\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1940, 300],
      "id": "respond",
      "name": "[Respond] 성공"
    }
  ],
  "connections": {
    "[Webhook] sponge-club": { "main": [[{ "node": "[Data Setting]", "type": "main", "index": 0 }]] },
    "[Data Setting]": { "main": [[{ "node": "[Get] item", "type": "main", "index": 0 }]] },
    "[Get] item": { "main": [[{ "node": "[SQL] retention / new", "type": "main", "index": 0 }]] },
    "[SQL] retention / new": { "main": [[{ "node": "[Add] Event", "type": "main", "index": 0 }]] },
    "[Add] Event": { "main": [[{ "node": "[SQL] 누적신청자 수", "type": "main", "index": 0 }]] },
    "[SQL] 누적신청자 수": { "main": [[{ "node": "[Slack] 공유회 신청 알림", "type": "main", "index": 0 }, { "node": "[SOLAPI] 알림톡", "type": "main", "index": 0 }]] },
    "[SOLAPI] 알림톡": { "main": [[{ "node": "[Respond] 성공", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": []
}
