emily-crm/scripts/n8n-backup-crm-trigger-20260402.json
{"updatedAt":"2026-04-02T01:29:51.187Z","createdAt":"2026-03-31T08:17:42.692Z","id":"tWEcxj5R5lBhiuAM","name":"공유회_CRM_트리거","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"id":"trigger-1","name":"Schedule: CRM 트리거","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,300]},{"parameters":{"operation":"executeQuery","query":"\n-- 오늘 타임라인이 있는 공유회\nSELECT iid, i_title_userside, i_full_schedule, i_eventdate, i_alimurl,\n  i_submitdate_first, i_submitdate_last, i_open_sent_at,\n  CASE\n    WHEN i_submitdate_first::date = CURRENT_DATE THEN 'open'\n    WHEN i_eventdate = CURRENT_DATE THEN 'dday'\n    WHEN i_eventdate = CURRENT_DATE + INTERVAL '1 day' THEN 'd1'\n    WHEN i_submitdate_first::date < CURRENT_DATE\n      AND i_submitdate_last::date >= CURRENT_DATE\n      AND i_eventdate > CURRENT_DATE + INTERVAL '1 day' THEN 'remind'\n    ELSE 'none'\n  END AS status\nFROM item\nWHERE i_type = 'sharing'\n  AND i_eventdate >= CURRENT_DATE\n  AND i_submitdate_first::date <= CURRENT_DATE\nORDER BY i_eventdate\n  ","options":{}},"id":"postgres-1","name":"Postgres: 새 공유회 조회","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,300],"credentials":{"postgres":{"id":"Fvwo31FZCaLAdmUl","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\nif (items.length === 0) return [];\n\nconst newItems = items.filter(i => i.status === 'new');\nconst activeItems = items.filter(i => i.status !== 'new' && i.status !== 'none');\n\nconst sections = [];\n\n// 새 공유회\nif (newItems.length > 0) {\n  const lines = newItems.map(i => {\n    const slug = (i.i_alimurl || '').split('/').pop() || 'unknown';\n    const url = i.i_alimurl || 'https://selfishclub.xyz/sharing/' + slug;\n    return '• *' + i.i_title_userside + '* — ' + (i.i_full_schedule || '') + '\\n  👉 `CRM 시작해줘 ' + url + '`';\n  }).join('\\n\\n');\n  sections.push({ type:'header', text:{ type:'plain_text', text:'🆕 새 공유회 감지! (' + newItems.length + '개)' }});\n  sections.push({ type:'section', text:{ type:'mrkdwn', text: lines }});\n  sections.push({ type:'divider' });\n}\n\n// 오늘 타임라인\nif (activeItems.length > 0) {\n  const statusMap = { open:'🟢 오픈일', remind:'🔵 리마인드', d1:'🟡 D-1', dday:'🔴 D-day' };\n  const ddayTimeline = '⏰ 13:00 ⑤할인쿠폰(미신청자)\\n⏰ 14:00 ④당일리마인드(신청자)\\n⏰ 19:00 ⑥입장링크(신청자)\\n⏰ 20:00 ⑦라이브시작(신청자)\\n⏰ 22:00 ⑧혜택안내(신청자)';\n  const lines = activeItems.map(i => {\n    let timeline = '';\n    if (i.status === 'open') timeline = '⏰ 09:00 ①오픈알림(멤버십전체)';\n    if (i.status === 'remind') timeline = '⏰ 10:00 ②오픈리마인드(미신청자)';\n    if (i.status === 'd1') timeline = '⏰ 13:00 ③D-1리마인드(신청자)';\n    if (i.status === 'dday') timeline = ddayTimeline;\n    return (statusMap[i.status] || i.status) + ' *' + i.i_title_userside + '*\\n' + timeline;\n  }).join('\\n\\n');\n  sections.push({ type:'header', text:{ type:'plain_text', text:'📋 오늘 알림톡 타임라인' }});\n  sections.push({ type:'section', text:{ type:'mrkdwn', text: lines }});\n  sections.push({ type:'context', elements:[{ type:'mrkdwn', text:'각 시간에 n8n 모달이 Slack으로 옵니다. 승인하면 발송됩니다.' }]});\n}\n\nif (sections.length === 0) return [];\n\nconst text = (newItems.length > 0 ? '새 공유회 ' + newItems.length + '개' : '') +\n  (activeItems.length > 0 ? (newItems.length > 0 ? ' + ' : '') + '오늘 알림톡 ' + activeItems.length + '건' : '');\n\nreturn [{ json: { channel:'C0AN2NZ4L7L', text, blocks: JSON.stringify(sections) }}];"},"id":"code-1","name":"Code: CRM 시작 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,300]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}","options":{}},"id":"http-1","name":"HTTP: Slack CRM 제안","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300],"credentials":{"slackApi":{"id":"CcEw7K4FbwlfLuRe","name":"Slack API account"}}}],"connections":{"Schedule: CRM 트리거":{"main":[[{"node":"Postgres: 새 공유회 조회","type":"main","index":0}]]},"Postgres: 새 공유회 조회":{"main":[[{"node":"Code: CRM 시작 메시지","type":"main","index":0}]]},"Code: CRM 시작 메시지":{"main":[[{"node":"HTTP: Slack CRM 제안","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule: CRM 트리거":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"9b61a388-1b4c-4e32-b1dc-eec5754e3d18","activeVersionId":"9b61a388-1b4c-4e32-b1dc-eec5754e3d18","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-03-31T08:17:42.697Z","createdAt":"2026-03-31T08:17:42.697Z","role":"workflow:owner","workflowId":"tWEcxj5R5lBhiuAM","projectId":"0sWP1ipsskxgTjqP","project":{"updatedAt":"2025-12-23T08:36:58.249Z","createdAt":"2025-12-23T07:14:36.871Z","id":"0sWP1ipsskxgTjqP","name":"SelfishClub Data <public.selfishclub@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ea72a43f-37e1-47aa-b3b5-8b90e85263c6"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-02T01:29:51.188Z","createdAt":"2026-04-02T01:29:51.188Z","versionId":"9b61a388-1b4c-4e32-b1dc-eec5754e3d18","workflowId":"tWEcxj5R5lBhiuAM","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"id":"trigger-1","name":"Schedule: CRM 트리거","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[180,300]},{"parameters":{"operation":"executeQuery","query":"\n-- 오늘 타임라인이 있는 공유회\nSELECT iid, i_title_userside, i_full_schedule, i_eventdate, i_alimurl,\n  i_submitdate_first, i_submitdate_last, i_open_sent_at,\n  CASE\n    WHEN i_submitdate_first::date = CURRENT_DATE THEN 'open'\n    WHEN i_eventdate = CURRENT_DATE THEN 'dday'\n    WHEN i_eventdate = CURRENT_DATE + INTERVAL '1 day' THEN 'd1'\n    WHEN i_submitdate_first::date < CURRENT_DATE\n      AND i_submitdate_last::date >= CURRENT_DATE\n      AND i_eventdate > CURRENT_DATE + INTERVAL '1 day' THEN 'remind'\n    ELSE 'none'\n  END AS status\nFROM item\nWHERE i_type = 'sharing'\n  AND i_eventdate >= CURRENT_DATE\n  AND i_submitdate_first::date <= CURRENT_DATE\nORDER BY i_eventdate\n  ","options":{}},"id":"postgres-1","name":"Postgres: 새 공유회 조회","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,300],"credentials":{"postgres":{"id":"Fvwo31FZCaLAdmUl","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\nif (items.length === 0) return [];\n\nconst newItems = items.filter(i => i.status === 'new');\nconst activeItems = items.filter(i => i.status !== 'new' && i.status !== 'none');\n\nconst sections = [];\n\n// 새 공유회\nif (newItems.length > 0) {\n  const lines = newItems.map(i => {\n    const slug = (i.i_alimurl || '').split('/').pop() || 'unknown';\n    const url = i.i_alimurl || 'https://selfishclub.xyz/sharing/' + slug;\n    return '• *' + i.i_title_userside + '* — ' + (i.i_full_schedule || '') + '\\n  👉 `CRM 시작해줘 ' + url + '`';\n  }).join('\\n\\n');\n  sections.push({ type:'header', text:{ type:'plain_text', text:'🆕 새 공유회 감지! (' + newItems.length + '개)' }});\n  sections.push({ type:'section', text:{ type:'mrkdwn', text: lines }});\n  sections.push({ type:'divider' });\n}\n\n// 오늘 타임라인\nif (activeItems.length > 0) {\n  const statusMap = { open:'🟢 오픈일', remind:'🔵 리마인드', d1:'🟡 D-1', dday:'🔴 D-day' };\n  const ddayTimeline = '⏰ 13:00 ⑤할인쿠폰(미신청자)\\n⏰ 14:00 ④당일리마인드(신청자)\\n⏰ 19:00 ⑥입장링크(신청자)\\n⏰ 20:00 ⑦라이브시작(신청자)\\n⏰ 22:00 ⑧혜택안내(신청자)';\n  const lines = activeItems.map(i => {\n    let timeline = '';\n    if (i.status === 'open') timeline = '⏰ 09:00 ①오픈알림(멤버십전체)';\n    if (i.status === 'remind') timeline = '⏰ 10:00 ②오픈리마인드(미신청자)';\n    if (i.status === 'd1') timeline = '⏰ 13:00 ③D-1리마인드(신청자)';\n    if (i.status === 'dday') timeline = ddayTimeline;\n    return (statusMap[i.status] || i.status) + ' *' + i.i_title_userside + '*\\n' + timeline;\n  }).join('\\n\\n');\n  sections.push({ type:'header', text:{ type:'plain_text', text:'📋 오늘 알림톡 타임라인' }});\n  sections.push({ type:'section', text:{ type:'mrkdwn', text: lines }});\n  sections.push({ type:'context', elements:[{ type:'mrkdwn', text:'각 시간에 n8n 모달이 Slack으로 옵니다. 승인하면 발송됩니다.' }]});\n}\n\nif (sections.length === 0) return [];\n\nconst text = (newItems.length > 0 ? '새 공유회 ' + newItems.length + '개' : '') +\n  (activeItems.length > 0 ? (newItems.length > 0 ? ' + ' : '') + '오늘 알림톡 ' + activeItems.length + '건' : '');\n\nreturn [{ json: { channel:'C0AN2NZ4L7L', text, blocks: JSON.stringify(sections) }}];"},"id":"code-1","name":"Code: CRM 시작 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,300]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}","options":{}},"id":"http-1","name":"HTTP: Slack CRM 제안","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,300],"credentials":{"slackApi":{"id":"CcEw7K4FbwlfLuRe","name":"Slack API account"}}}],"connections":{"Schedule: CRM 트리거":{"main":[[{"node":"Postgres: 새 공유회 조회","type":"main","index":0}]]},"Postgres: 새 공유회 조회":{"main":[[{"node":"Code: CRM 시작 메시지","type":"main","index":0}]]},"Code: CRM 시작 메시지":{"main":[[{"node":"HTTP: Slack CRM 제안","type":"main","index":0}]]}},"authors":"SelfishClub Data","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-02T01:29:51.292Z","id":469,"workflowId":"tWEcxj5R5lBhiuAM","versionId":"9b61a388-1b4c-4e32-b1dc-eec5754e3d18","event":"activated","userId":"ea72a43f-37e1-47aa-b3b5-8b90e85263c6"},{"createdAt":"2026-04-02T01:29:51.263Z","id":468,"workflowId":"tWEcxj5R5lBhiuAM","versionId":"9b61a388-1b4c-4e32-b1dc-eec5754e3d18","event":"deactivated","userId":"ea72a43f-37e1-47aa-b3b5-8b90e85263c6"}]}}