emily-crm/scripts/n8n-patch-alimtalk-vod-9.json
{
  "updatedAt": "2026-04-09T05:14:35.186Z",
  "createdAt": "2026-03-29T09:02:36.080Z",
  "id": "R2FCAquAvaDPTkWP",
  "name": "공유회_알림톡_크론",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "name": "Schedule: 새 공유회",
      "id": "94626783-cced-412d-8a88-fa65e66d1bfc",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT iid, i_title_userside, i_full_schedule, i_eventdate, i_alimurl FROM item WHERE i_type = 'sharing' AND i_eventdate >= CURRENT_DATE AND i_open_sent_at IS NULL ORDER BY i_eventdate",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        0
      ],
      "name": "Postgres: 새 공유회",
      "id": "6ad58dd1-4ae3-413c-bd1a-f4a6f169c8d3",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nif (items.length === 0) return [];\nconst lines = items.map(i => `• *${i.i_title_userside}* — ${i.i_full_schedule || ''} (${i.iid})`).join('\\n');\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`📋 오픈알림 미발송 공유회 (${items.length}개)` }},\n  { type:'section', text:{ type:'mrkdwn', text: lines }},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:'👉 에밀리: Claude Code에서 `/alimtalk 공유회 오픈알림` 실행해주세요' }}\n];\nreturn [{ json: { channel:'C0AN2NZ4L7L', text:`오픈알림 미발송 공유회 ${items.length}개`, blocks:JSON.stringify(blocks) }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "name": "Code: 새 공유회 알림",
      "id": "953c34b5-8457-4acb-8903-5d307aa385ce"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "name": "HTTP: 새 공유회 슬랙",
      "id": "87e7feb6-2c9d-4432-9fb6-d1331f2949b5",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 1 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        240
      ],
      "name": "Schedule Trigger",
      "id": "888d4ee2-8864-4012-b66e-2955fe99aa67"
    },
    {
      "parameters": {
        "jsCode": "// 오늘 날짜 기준으로 해당되는 알림톡 전부 리턴\nconst results = [];\nconst templates = [\n  { num:1, name:'오픈 알림', tid:'KA01TP260224044955111rZoe0O3bxsZ', qt:'all_members',\n    dsql:\"i_submitdate_first::date = CURRENT_DATE\", scheduledTime:'15:00',\n    nm:false, ml:'', utm:'오픈알림' },\n  { num:2, name:'오픈 리마인드', tid:'KA01TP250718151456335cPBkIZJBkGt', qt:'non_subscribers',\n    dsql:\"i_submitdate_first::date + CASE WHEN (i_eventdate - i_submitdate_first::date) <= 4 THEN INTERVAL '1 day' ELSE INTERVAL '2 days' END = CURRENT_DATE\", scheduledTime:'13:00',\n    nm:false, ml:'', utm:'오픈리마인드' },\n  { num:3, name:'D-1 리마인드', tid:'KA01TP260328003811869hKleQPvW4us', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE + INTERVAL '1 day'\", scheduledTime:'13:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:5, name:'할인쿠폰', tid:'KA01TP250729145533585plTadCNvOYu', qt:'non_subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'13:00',\n    nm:false, ml:'', utm:'혜택알림' },\n  { num:4, name:'당일 리마인드', tid:'KA01TP260328004337699dPIbCrNF2yI', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'14:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:6, name:'입장 링크', tid:'KA01TP250417061338748mROUNOEEiOF', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'19:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:7, name:'라이브 시작 알림', tid:'KA01TP260106142352438w6fSAZpbRg4', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'20:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:8, name:'혜택 안내', tid:'KA01TP260328003106634WHeu4PCwrp6', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'22:00',\n    nm:true, ml:'노션 링크를 입력해주세요', utm:null },\n  { num:9, name:'VOD 발송', tid:'KA01TP250722045328826Fu3uUAWTGBI', qt:'subscribers',\n    dsql:\"i_eventdate + INTERVAL '3 days' = CURRENT_DATE\", scheduledTime:'18:00',\n    nm:true, ml:'VOD 링크를 입력해주세요', utm:null },\n];\n\n// 테스트 모드: iid_999 강제\nconst testMode = true;\nif (testMode) {\n  // 오늘이 오픈일인 것처럼 ① + D-day인 것처럼 ③④⑤⑥⑦⑧ 전부 테스트\n  const testTemplates = [\n    { ...templates[0], dsql:\"iid = 'iid_999'\" },  // ①\n    { ...templates[1], dsql:\"iid = 'iid_999'\" },  // ②\n    { ...templates[2], dsql:\"iid = 'iid_999'\" },  // ③\n    { ...templates[3], dsql:\"iid = 'iid_999'\" },  // ⑤\n    { ...templates[4], dsql:\"iid = 'iid_999'\" },  // ④\n    { ...templates[5], dsql:\"iid = 'iid_999'\" },  // ⑥\n    { ...templates[6], dsql:\"iid = 'iid_999'\" },  // ⑦\n    { ...templates[7], dsql:\"iid = 'iid_999'\" },  // ⑧\n    { ...templates[8], dsql:\"iid = 'iid_999'\" },  // ⑨\n  ];\n  return testTemplates.map(t => {\n    t.program_sql = `SELECT iid, i_title_userside, i_full_schedule, i_alimurl, i_vodurl, i_eventdate, i_submitdate_first, i_submitdate_last, i_paid_tf, i_formid_webflow FROM item WHERE ${t.dsql}`;\n    return { json: t };\n  });\n}\n\n// 프로덕션: 각 조건에 맞는 것만 리턴\nreturn templates.map(t => {\n  t.program_sql = `SELECT iid, i_title_userside, i_full_schedule, i_alimurl, i_vodurl, i_eventdate, i_submitdate_first, i_submitdate_last, i_paid_tf, i_formid_webflow FROM item WHERE i_type = 'sharing' AND ${t.dsql}`;\n  return { json: t };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        240
      ],
      "name": "Code: 알림톡 판별",
      "id": "7d09cc39-40fb-4fa4-b718-c77c92742a99"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.program_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        240
      ],
      "name": "Postgres: 프로그램 조회",
      "id": "7ffe217d-0408-4265-b2c8-1a407b0b06f6",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allTemplates = $('Code: 알림톡 판별').all();\nconst allItems = $input.all();\nconst days = ['일','월','화','수','목','금','토'];\nconst kd = new Date(Date.now() + 9*3600000);\nconst ymd = kd.toISOString().slice(2,10).replace(/-/g,'');\n\nreturn allItems.map((inputItem, idx) => {\n  const t = allTemplates[idx].json;\n  const item = inputItem.json;\n  const tm = (item.i_full_schedule || '').match(/(\\d{1,2}:\\d{2})/);\n  const time = tm ? tm[1] : '20:00';\n  let ed = '';\n  if (item.i_submitdate_last) { const d = new Date(item.i_submitdate_last); ed = `${d.getMonth()+1}월${d.getDate()}일(${days[d.getDay()]})`; }\n  let vodDeadline = '';\n  if (item.i_eventdate) { const vd = new Date(new Date(item.i_eventdate).getTime() + 7*24*3600000); vodDeadline = `${vd.getFullYear()}년 ${vd.getMonth()+1}월 ${vd.getDate()}일(${days[vd.getDay()]})`; }\n  let period = '';\n  if (item.i_submitdate_first && item.i_submitdate_last) {\n    const df = new Date(item.i_submitdate_first);\n    const dl = new Date(item.i_submitdate_last);\n    period = `${df.getMonth()+1}/${df.getDate()}~${dl.getMonth()+1}/${dl.getDate()}`;\n  }\n  const sm = (item.i_alimurl || '').match(/\\/sharing\\/([^/?]+)/);\n  const slug = sm ? sm[1] : (item.i_formid_webflow || '');\n  let utmUrl = '';\n  if (t.utm) utmUrl = `www.selfishclub.xyz/sharing/${slug}?utm_medium=crm&utm_source=alimtalk&utm_campaign=${slug}&utm_content=${ymd}_${t.utm}&utm_term=inbound`;\n  const iid = (item.iid || '').replace(/[^a-zA-Z0-9_]/g, '');\n  let csql;\n  if (t.qt === 'subscribers') {\n    csql = `SELECT COUNT(DISTINCT u_phone) as cnt FROM (SELECT p.u_phone FROM purchase p WHERE p.iid='${iid}' AND p.p_cancel_amount=0 AND p.u_name NOT ILIKE '%테스트%' UNION SELECT e.u_phone FROM event e JOIN item i ON e.iid=i.iid WHERE e.iid='${iid}' AND i.i_paid_tf=false AND e.u_name NOT ILIKE '%테스트%') s`;\n  } else {\n    csql = `SELECT COUNT(*) as cnt FROM member m WHERE m.u_membership_tf=true AND m.u_marketing_agree_tf=true AND m.u_phone IS NOT NULL AND m.u_name NOT ILIKE '%테스트%' AND NOT EXISTS (SELECT 1 FROM purchase p WHERE p.u_phone=m.u_phone AND p.iid='${iid}' AND p.p_cancel_amount=0) AND NOT EXISTS (SELECT 1 FROM event e WHERE e.u_phone=m.u_phone AND e.iid='${iid}')`;\n  }\n  return { json: {\n    ...t, iid: item.iid, name: item.i_title_userside, sched: item.i_full_schedule,\n    time, ed, period, slug, utmUrl, alimurl: item.i_alimurl || '',\n    lh: '✅ 공유회 다시보기 VOD 제공\\n✅ 라이브 완주 시 추가 혜택 공개',\n    rh: '공유회에서 다룬 내용이 도움이 되셨다면\\n짧은 후기를 남겨주세요🙏\\n\\n✅ 후기 작성 시 다시보기 VOD 무료 제공',\n    cpn: '이기적멤버십 프로그램 할인', link: '', vodDeadline, vodurl: item.i_vodurl || '', count_sql: csql\n  }};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        240
      ],
      "name": "Code: 변수 준비",
      "id": "6583c907-5da9-4500-9a7a-d5b3052c73a4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.count_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        240
      ],
      "name": "Postgres: 대상자 수",
      "id": "3682844e-3cc3-4c41-9874-7d92b1d8ffbf",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $('Code: 변수 준비').item.json;\nconst cnt = $json.cnt || 0;\nif (cnt === 0) return;\n\nlet preview = '';\nswitch(d.num) {\n  case 1:\n    preview = `#{이름}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 2:\n    preview = `#{이름}님, 알림신청하신\n이기적멤버십 프로그램 모집이 시작됐어요!\n\n🟨 프로그램명 : ${d.name}\n🟨 일정: ${d.sched}\n🟨 신청기간 : ${d.period}`; break;\n  case 3:\n    preview = `#{이름}님,\n신청하신 이기적공유회가\n내일 진행됩니다💛\n\n◾공유회명 : ${d.name}\n◾일정 : ${d.sched}\n\n라이브 입장링크는\n아래 버튼을 확인하세요!`; break;\n  case 4:\n    preview = `#{이름}님,\n신청하신 이기적공유회가\n오늘 진행됩니다.\n\n◾공유회명 : ${d.name}\n◾일정 : ${d.sched}\n\n늦지 않게 만나요✨`; break;\n  case 5:\n    preview = `#{이름}님, 가입하신 이기적멤버십\n프로그램 할인 쿠폰이 발급되었습니다!\n\n🎁쿠폰명 : ${d.cpn}\n⏰사용 종료일 : ${d.ed}\n\n해당 쿠폰은 종료일 이후 자동 소멸되어 적용이 불가합니다.`; break;\n  case 6:\n    preview = `#{이름}님께서 신청하신\n이기적공유회가 ${d.time}에 시작됩니다😆\n늦지 않게 입장해주세요!\n\n🟨 공유회명 : ${d.name}\n🟨 라이브혜택 :\n${d.lh}\n👇하단 '라이브 입장하기' 클릭👇`; break;\n  case 7:\n    preview = `#{이름}님!\n신청하신 이기적공유회\n${d.name}이 시작됐어요🔥\n\n라이브 참여자에게만 제공되는\n특별한 자료집도 받아가세요🎁\n✅ ${d.rh}`; break;\n  case 8:\n    preview = `#{이름}님, 지금 참여하신\n공유회 다시보기 및 자세한 안내는\n아래 버튼을 눌러 확인해주세요!\n\n◾공유회명 : ${d.name}`; break;\n  case 9:\n    preview = `📢 #{이름}님께서 신청하신\n${d.name}\n다시보기 VOD가 도착했어요!\n\n✅ 열람기한 : ${d.vodDeadline || d.ed || ''}\n✅ 열람방법 : ${d.cpn || '셀피쉬클럽'}\n\n👇🏻아래 버튼을 눌러 확인해주세요👇🏻`; break;\n}\n\nconst cb = JSON.stringify({\n  t:d.num, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched,\n  time:d.time, url:d.utmUrl||d.alimurl, slug:d.slug,\n  nm:d.nm, ml:d.ml, cnt, lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||''\n});\n\nconst numLabel = {1:'오픈알림',2:'오픈리마인드',3:'D-1 리마인드',4:'당일리마인드',5:'할인쿠폰',6:'입장링크',7:'라이브시작',8:'혜택안내',9:'VOD발송'};\nconst em = {1:'🔔',2:'📣',3:'📅',4:'🔔',5:'🎁',6:'🔗',7:'🔥',8:'📋',9:'📹'};\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`${em[d.num]||'📢'} [#${d.num} ${numLabel[d.num]||d.name}] ${d.scheduledTime || \"\"} 발송 예정` }},\n  { type:'section', fields:[\n    { type:'mrkdwn', text:`*공유회:*\n${d.name}` },\n    { type:'mrkdwn', text:`*대상:*\n${cnt}명` },\n    { type:'mrkdwn', text:`*일정:*\n${d.sched}` },\n    { type:'mrkdwn', text:`*알림톡:*\n#${d.num} ${numLabel[d.num]||d.name}` }\n  ]},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:`📋 *알림톡 미리보기:*\n\\`\\`\\`\n${preview}\n\\`\\`\\`` }},\n  { type:'divider' },\n  { type:'context', elements:[{ type:'mrkdwn', text:'⚠️ *승인 시 예약 발송이 확정됩니다.* 카피·링크·시간을 반드시 확인 후 승인해주세요.' }]},\n  { type:'actions', elements:[\n    { type:'button', text:{ type:'plain_text', text:'✅ 이대로 발송' }, style:'primary', action_id:'cron_approve', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'✏️ 수정' }, action_id:'cron_edit', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'❌ 취소' }, style:'danger', action_id:'cron_reject', value:cb }\n  ]}\n];\n\nreturn {\n  channel: 'C0AN2NZ4L7L',\n  text: `[#${d.num} ${numLabel[d.num]||d.name}] ${d.name} - ${cnt}명`,\n  blocks: JSON.stringify(blocks)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        240
      ],
      "name": "Code: 슬랙 메시지",
      "id": "5449c3e6-02d3-496f-aabd-6cea77cfd5c3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        240
      ],
      "name": "HTTP: 슬랙 전송",
      "id": "484031aa-b8f6-483f-b962-244c718291ee",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alimtalk-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        688
      ],
      "name": "Webhook: 승인",
      "id": "f6cd1ed5-9098-4aa5-a7af-a27d040c4c8f",
      "webhookId": "alimtalk-approval"
    },
    {
      "parameters": {
        "jsCode": "const strip = u => (u||'').replace(/^https?:\\/\\//, '');\nconst payloadStr = $input.item.json.body?.payload;\nif (!payloadStr) return [{ json: { action: 'unknown' } }];\nconst payload = JSON.parse(payloadStr);\nconst staticData = $getWorkflowStaticData('global');\n\nif (payload.type === 'view_submission') {\n  const cbid = payload.view?.callback_id;\n  const meta = JSON.parse(payload.view?.private_metadata || '{}');\n  const vals = payload.view?.state?.values || {};\n\n  if (cbid === 'alimtalk_edit') {\n    const updated = { ...meta };\n    if (vals.f_name?.v?.value) updated.name = vals.f_name.v.value;\n    if (vals.f_sched?.v?.value) updated.sched = vals.f_sched.v.value;\n    if (vals.f_time?.v?.value) updated.time = vals.f_time.v.value;\n    if (vals.f_lh?.v?.value) updated.lh = vals.f_lh.v.value;\n    if (vals.f_rh?.v?.value) updated.rh = vals.f_rh.v.value;\n    if (vals.f_cpn?.v?.value) updated.cpn = vals.f_cpn.v.value;\n    if (vals.f_ed?.v?.value) updated.ed = vals.f_ed.v.value;\n    if (vals.f_period?.v?.value) updated.period = vals.f_period.v.value;\n    if (vals.f_link?.v?.value) updated.link = strip(vals.f_link.v.value);\n\n    // ③ D-1: 줌링크 staticData에 저장 → ④⑥⑦ 재사용\n    if (updated.t === 3 && updated.link) {\n      staticData.zoomUrl = strip(updated.link);\n    }\n    // ⑥ 입장링크: 라이브혜택 staticData에 저장 → ⑦ 재사용\n    if (updated.t === 6 && updated.lh) {\n      staticData.benefits = updated.lh;\n    }\n    // ⑨ VOD: VOD링크 staticData에 저장\n    if (updated.t === 9 && updated.link) {\n      staticData.vodUrl = strip(updated.link);\n    }\n\n    return [{ json: { action: 'edit_submit', ...updated, user_name: payload.user?.name || '' } }];\n  }\n\n  if (cbid === 'alimtalk_url') {\n    const url = strip(vals.url_block?.url_input?.value || '');\n    const result = { action: 'modal_submit', input_url: url, ...meta, user_name: payload.user?.name || '' };\n\n    // ③ URL 모달에서도 줌링크 저장\n    if (meta.t === 3 && url) {\n      staticData.zoomUrl = strip(url);\n    }\n    if (meta.t === 6 && url) {\n      // ⑥은 URL이 아니라 라이브혜택이지만, URL 모달이면 줌링크\n    }\n\n    return [{ json: result }];\n  }\n\n  return [{ json: { action: 'unknown' } }];\n}\n\nconst act = payload.actions?.[0];\nconst cb = JSON.parse(act?.value || '{}');\nconst base = { ch: payload.channel?.id, ts: payload.message?.ts, user_name: payload.user?.name || '', ...cb };\n\nif (act?.action_id === 'cron_reject') return [{ json: { action: 'reject', ...base } }];\nif (act?.action_id === 'cron_edit') return [{ json: { action: 'edit', trigger_id: payload.trigger_id, ...base } }];\nif (act?.action_id === 'cron_approve') {\n  // ④⑦ 자동발송: 줌링크가 staticData에 있으면 바로 승인\n  if (cb.t === 4 || cb.t === 7) {\n    const link = staticData.zoomUrl || cb.link || '';\n    if (link) {\n      return [{ json: { action: 'approve_direct', input_url: link, ...base, link } }];\n    }\n  }\n\n  if (cb.nm && !cb.link) return [{ json: { action: 'approve_modal', trigger_id: payload.trigger_id, ...base } }];\n  return [{ json: { action: 'approve_direct', input_url: cb.link || null, ...base } }];\n}\nreturn [{ json: { action: 'unknown' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        688
      ],
      "name": "Code: 파싱",
      "id": "c306c68d-41ae-4489-ad37-1b90f5dc155a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve_direct",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve_direct"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "approve_modal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approve_modal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "modal_submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "modal_submit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "edit_submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit_submit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        688
      ],
      "name": "Switch: 액션",
      "id": "80a44831-946a-48fa-a250-cf8e09dad8c3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.ch }}\",\n  \"thread_ts\": \"{{ $json.ts }}\",\n  \"text\": \"❌ {{ $json.user_name }}님이 발송을 취소했습니다.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        992
      ],
      "name": "HTTP: 취소 메시지",
      "id": "babc6b61-c852-4959-9d0c-8e31ed67c966",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.open",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ trigger_id: $json.trigger_id, view: {\n  type: 'modal', callback_id: 'alimtalk_url', title: { type: 'plain_text', text: '링크 입력' },\n  submit: { type: 'plain_text', text: '발송' }, close: { type: 'plain_text', text: '취소' },\n  private_metadata: JSON.stringify({ t:$json.t, tid:$json.tid, iid:$json.iid, name:$json.name, sched:$json.sched, time:$json.time, slug:$json.slug, nm:$json.nm, ml:$json.ml, cnt:$json.cnt, lh:$json.lh, rh:$json.rh, cpn:$json.cpn, ed:$json.ed, period:$json.period||'', qt:$json.qt, link:'', ch:$json.ch, ts:$json.ts }),\n  blocks: [{ type:'input', block_id:'url_block', element:{ type:'url_text_input', action_id:'url_input', placeholder:{ type:'plain_text', text: $json.ml } }, label:{ type:'plain_text', text: $json.ml } }]\n}}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        800
      ],
      "name": "HTTP: 링크 모달",
      "id": "cb76d5e7-98cc-452f-acac-2e11f52399f9",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst meta = JSON.stringify({ t:d.t, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched, time:d.time, url:d.url||'', slug:d.slug, nm:d.nm, ml:d.ml, cnt:d.cnt, lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||'', ch:d.ch, ts:d.ts });\n\nconst blocks = [];\n// ① 오픈알림 — 공유회명에 카피 (multiline)\nif (d.t === 1) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_period', element:{ type:'plain_text_input', action_id:'v', initial_value: d.period||'' }, label:{ type:'plain_text', text:'신청기간' }});\n}\n// ① URL 필드 추가\nif (d.t === 1) {\n  blocks.push({ type:\"input\", block_id:\"f_link\", optional:true, element:{ type:\"plain_text_input\", action_id:\"v\", initial_value: d.url||\"\", placeholder:{ type:\"plain_text\", text:\"UTM URL (자동생성됨, 수정 필요시만)\" }}, label:{ type:\"plain_text\", text:\"URL (옵션)\" }});\n}\n// ② 오픈리마인드 — 프로그램명에 카피 (multiline)\nif (d.t === 2) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'프로그램명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_period', element:{ type:'plain_text_input', action_id:'v', initial_value: d.period||'' }, label:{ type:'plain_text', text:'신청기간 (예: 3/18~3/31)' }});\n}\n// ③ D-1 리마인드 — 공유회명+일정\nif (d.t === 3) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크 (옵션)' }});\n}\n// ④ 당일 리마인드 — 공유회명+일정\nif (d.t === 4) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크 (옵션)' }});\n}\n// ⑤ 할인쿠폰 — 쿠폰명(multiline)+종료일\nif (d.t === 5) {\n  blocks.push({ type:'input', block_id:'f_cpn', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.cpn||'' }, label:{ type:'plain_text', text:'쿠폰명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_ed', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.ed||'' }, label:{ type:'plain_text', text:'종료일 + 안내문구' }});\n}\n// ⑥ 입장링크 — 공유회명+시간+라이브혜택+줌링크\nif (d.t === 6) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_time', element:{ type:'plain_text_input', action_id:'v', initial_value: d.time||'20:00' }, label:{ type:'plain_text', text:'시간' }});\n  blocks.push({ type:'input', block_id:'f_lh', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.lh||'' }, label:{ type:'plain_text', text:'라이브혜택' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크' }});\n}\n// ⑦ 라이브 시작알림 — 프로그램명+자료집리스트+줌링크\nif (d.t === 7) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'프로그램명' }});\n  blocks.push({ type:'input', block_id:'f_rh', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.rh||'' }, label:{ type:'plain_text', text:'자료집리스트' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크' }});\n}\n// ⑧ 혜택안내(노션) — 공유회명(multiline)+노션링크\nif (d.t === 8) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'노션 링크를 입력해주세요' }}, label:{ type:'plain_text', text:'노션 링크' }});\n}\n\n// ⑨ VOD 발송 — 공유회명+열람기한+열람방법+VOD링크\nif (d.t === 9) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_ed', element:{ type:'plain_text_input', action_id:'v', initial_value: d.ed||d.vodDeadline||'' }, label:{ type:'plain_text', text:'열람기한 (#{날짜})' }});\n  blocks.push({ type:'input', block_id:'f_cpn', element:{ type:'plain_text_input', action_id:'v', initial_value: d.cpn||'셀피쉬클럽' }, label:{ type:'plain_text', text:'열람방법 (#{채널})' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'VOD 링크 (https:// 없이)' }}, label:{ type:'plain_text', text:'VOD 링크' }});\n}\n\nreturn [{ json: { trigger_id: d.trigger_id, meta, blocks: JSON.stringify(blocks) }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        592
      ],
      "name": "Code: 수정 모달 생성",
      "id": "6355cc1c-fc72-4646-9119-18e322715995"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.open",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"trigger_id\": \"{{ $json.trigger_id }}\",\n  \"view\": {\n    \"type\": \"modal\",\n    \"callback_id\": \"alimtalk_edit\",\n    \"title\": { \"type\": \"plain_text\", \"text\": \"변수 수정\" },\n    \"submit\": { \"type\": \"plain_text\", \"text\": \"수정 완료\" },\n    \"close\": { \"type\": \"plain_text\", \"text\": \"취소\" },\n    \"private_metadata\": {{ JSON.stringify($json.meta) }},\n    \"blocks\": {{ $json.blocks }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        592
      ],
      "name": "HTTP: 수정 모달",
      "id": "9da8eff3-8761-419a-a400-a24ad88afca3",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nlet preview = '';\nswitch(d.t) {\n  case 1:\n    preview = `\\{이름\\}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 2:\n    preview = `\\{이름\\}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 3:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 내일 진행됩니다💛\\n\\n입장링크는 ${d.time}에\\n카카오톡으로 발송됩니다.\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 라이브혜택 :\\n${d.lh}`; break;\n  case 4:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 오늘 시작됩니다💛\\n\\n입장링크는 ${d.time}에\\n카카오톡으로 발송됩니다.\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 라이브혜택 :\\n${d.lh}`; break;\n  case 5:\n    preview = `\\{이름\\}님, 가입하신 이기적멤버십\\n프로그램 할인 쿠폰이 발급되었습니다!\\n\\n🎁쿠폰명 : ${d.cpn}\\n⏰사용 종료일 : ${d.ed}\\n\\n해당 쿠폰은 종료일 이후 자동 소멸되어 적용이 불가합니다.`; break;\n  case 6:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 ${d.time}에 시작됩니다😆\\n늦지 않게 입장해주세요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 라이브혜택 :\\n${d.lh}\\n👇하단 '라이브 입장하기' 클릭👇`; break;\n  case 7:\n    preview = `\\{이름\\}님\\n신청하신 이기적공유회\\n후기를 남겨주세요📝\\n\\n${d.rh}\\n\\n아래 링크를 클릭하시면\\n후기 설문으로 넘어갑니다.`; break;\n  case 8:\n    preview = `\\{이름\\}님, 지금 참여하신\\n공유회 다시보기 및 자세한 안내는\\n아래 버튼을 눌러 확인해주세요!\\n\\n◾공유회명 : ${d.name}`; break;\n  case 9:\n    preview = `📢 \\{이름\\}님께서 신청하신\\n${d.name}\\n다시보기 VOD가 도착했어요!\\n\\n✅ 열람기한 : ${d.vodDeadline || d.ed || ''}\\n✅ 열람방법 : ${d.cpn || '셀피쉬클럽'}\\n\\n👇🏻아래 버튼을 눌러 확인해주세요👇🏻`; break;\n}\nconst linkNote = d.link ? `\\n✅ 링크: ${d.link}` : (d.url ? `\\n🔗 URL: ${d.url}` : (d.nm ? '\\n⚠️ 링크 미입력 (수정에서 입력 가능)' : ''));\nconst cb = JSON.stringify({\n  t:d.t, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched, time:d.time,\n  url:d.url||'', slug:d.slug, nm:d.nm, ml:d.ml, cnt:d.cnt,\n  lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||''\n});\nconst em = {1:'🔔',2:'📣',3:'📅',4:'🔔',5:'🎁',6:'🔗',7:'📝',8:'📋',9:'📹'};\nconst shortName = (d.name||\"알림톡\").split(\"\\n\")[0].substring(0,30);\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`${em[d.t]||\"📢\"} [#${d.t} ${shortName}] 수정됨 ✏️` }},\n  { type:'section', text:{ type:'mrkdwn', text:`*대상:* ${d.cnt}명${linkNote}` }},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:`📋 *수정된 미리보기:*\\n\\`\\`\\`\\n${preview}\\n\\`\\`\\`` }},\n  { type:'divider' },\n  { type:'context', elements:[{ type:'mrkdwn', text:'⚠️ *승인 시 예약 발송이 확정됩니다.* 카피·링크·시간을 반드시 확인 후 승인해주세요.' }]},\n  { type:'actions', elements:[\n    { type:'button', text:{ type:'plain_text', text:'✅ 이대로 발송' }, style:'primary', action_id:'cron_approve', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'✏️ 수정' }, action_id:'cron_edit', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'❌ 취소' }, style:'danger', action_id:'cron_reject', value:cb }\n  ]}\n];\nreturn [{ json: { channel: d.ch, text: `[수정됨] #${d.t} ${d.name}`, blocks: JSON.stringify(blocks) }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        448
      ],
      "name": "Code: 수정 미리보기",
      "id": "a7ae77c0-454d-4893-8423-aafdcf04b536"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        448
      ],
      "name": "HTTP: 수정 미리보기 전송",
      "id": "6187eca7-ee3d-427d-b317-1e2403dbb82e",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.ch }}\",\n  \"thread_ts\": \"{{ $json.ts }}\",\n  \"text\": \"✅ {{ $json.user_name }}님이 발송을 승인했습니다. {{ $json.cnt }}명에게 알림톡을 발송합니다.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        688
      ],
      "name": "HTTP: 승인 확인",
      "id": "6487c857-db3b-4718-96a4-b156e266b089",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code: 파싱').item.json;\nconst iid = (d.iid || '').replace(/[^a-zA-Z0-9_]/g, '');\nlet sql;\nif (d.qt === 'subscribers') {\n  sql = `SELECT DISTINCT sub.u_name, sub.u_phone FROM (SELECT p.u_name, p.u_phone FROM purchase p WHERE p.iid='${iid}' AND p.p_cancel_amount=0 AND p.u_name NOT ILIKE '%테스트%' UNION SELECT e.u_name, e.u_phone FROM event e JOIN item i ON e.iid=i.iid WHERE e.iid='${iid}' AND i.i_paid_tf=false AND e.u_name NOT ILIKE '%테스트%') sub`;\n} else {\n  sql = `SELECT m.u_name, m.u_phone FROM member m WHERE m.u_membership_tf=true AND m.u_marketing_agree_tf=true AND m.u_phone IS NOT NULL AND m.u_name NOT ILIKE '%테스트%' AND NOT EXISTS (SELECT 1 FROM purchase p WHERE p.u_phone=m.u_phone AND p.iid='${iid}' AND p.p_cancel_amount=0) AND NOT EXISTS (SELECT 1 FROM event e WHERE e.u_phone=m.u_phone AND e.iid='${iid}')`;\n}\nreturn [{ json: { recipients_sql: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        688
      ],
      "name": "Code: SQL 재생성",
      "id": "7daef113-7bd5-4374-bee9-6e8e674147b3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.recipients_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1264,
        688
      ],
      "name": "Postgres: 대상자 조회",
      "id": "c5c22ce5-5c4e-496b-bcd9-6a073ce5fd6e",
      "credentials": {
        "postgres": {
          "id": "Fvwo31FZCaLAdmUl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const strip = u => (u||'').replace(/^https?:\\/\\//, '');\n// SOLAPI 예약 발송: scheduledDate 계산\nconst d_sched = $('Code: 파싱').item.json;\nconst scheduledTime = d_sched.scheduledTime || '';\nlet scheduledDate = null;\nif (scheduledTime) {\n  const today = new Date();\n  const [h, m] = scheduledTime.split(':').map(Number);\n  // KST로 설정\n  const kstDate = new Date(today.getFullYear(), today.getMonth(), today.getDate(), h, m, 0);\n  // KST → UTC (KST - 9시간)\n  scheduledDate = new Date(kstDate.getTime() - 9 * 60 * 60 * 1000).toISOString();\n}\n\n// ⚠️ iid_999 테스트 안전장치 — 에밀리 1명만 발송\nconst d_check = $('Code: 파싱').item.json;\nif (d_check.iid === 'iid_999') {\n  return [{ json: { u_phone: '01082948909', u_name: '에밀리', t: d_check.t, tid: d_check.tid,\n    v_이름: '에밀리', v_공유회명: d_check.name || '', v_프로그램명: d_check.name || '',\n    v_일정: d_check.sched || '', v_기간: d_check.period || '', v_시간: d_check.time || '20:00',\n    v_라이브혜택: d_check.lh || '', v_자료집리스트: d_check.rh || '',\n    v_쿠폰명: d_check.cpn || '', v_종료일: d_check.ed || '',\n    v_url: strip(d_check.link || d_check.url || ''), v_날짜: d_check.ed || d_check.vodDeadline || '', v_채널: d_check.cpn || '셀피쉬클럽' }}];\n}\nconst d = $('Code: 파싱').item.json;\nconst recipients = $input.all().map(i => i.json);\nreturn recipients.map(r => {\n  const base = { u_phone: r.u_phone, u_name: r.u_name, t: d.t, tid: d.tid };\n  switch(d.t) {\n    case 2:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_일정:d.sched, v_기간:d.period||'', v_url:strip(d.url||'') }};\n    case 3: case 4:\n      return { json: { ...base, v_이름:r.u_name, v_시간:d.time, v_공유회명:d.name, v_일정:d.sched, v_라이브혜택:d.lh, v_url:strip(d.input_url||d.link||'') }};\n    case 5:\n      return { json: { ...base, v_이름:r.u_name, v_쿠폰명:d.cpn, v_종료일:d.ed, v_url:strip(d.url||'') }};\n    case 6:\n      return { json: { ...base, v_이름:r.u_name, v_시간:d.time, v_공유회명:d.name, v_라이브혜택:d.lh, v_url:strip(d.input_url||d.link||'') }};\n    case 7:\n      return { json: { ...base, v_이름:r.u_name, v_후기혜택:d.rh, v_url:strip(d.input_url||d.link||'') }};\n    case 8:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_url:strip(d.input_url||d.link||'') }};\n    case 9:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_날짜:d.ed||d.vodDeadline||'', v_채널:d.cpn||'셀피쉬클럽', v_url:strip(d.input_url||d.link||'') }};\n    default: return { json: base };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        688
      ],
      "name": "Code: 발송 데이터",
      "id": "509f81fa-21b0-4243-98e3-dd7ef85b5468"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1728,
        688
      ],
      "name": "SplitInBatches",
      "id": "b0e28331-44de-45af-8d08-6facf24a8f4a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "오픈알림"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "오픈리마인드"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "리마인드"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "할인쿠폰"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "입장링크"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "7",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "후기안내"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "8",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "라이브안내"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.t }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "number",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOD발송"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        688
      ],
      "name": "Switch: 템플릿",
      "id": "2437213d-2e39-4ece-9483-51ea00e9fd2d"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "KA01TP260224044955111rZoe0O3bxsZ",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{공유회명}",
              "value": "={{ $json.v_공유회명 }}"
            },
            {
              "name": "#{일정}",
              "value": "={{ $json.v_일정 }}"
            },
            {
              "name": "#{기간}",
              "value": "={{ $json.v_기간 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        416
      ],
      "name": "SOLAPI: 오픈리마인드",
      "id": "d61819f3-f350-4469-a576-780d66216af4",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "={{ $json.tid }}",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{시간}",
              "value": "={{ $json.v_시간 }}"
            },
            {
              "name": "#{공유회명}",
              "value": "={{ $json.v_공유회명 }}"
            },
            {
              "name": "#{일정}",
              "value": "={{ $json.v_일정 }}"
            },
            {
              "name": "#{라이브혜택}",
              "value": "={{ $json.v_라이브혜택 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        528
      ],
      "name": "SOLAPI: 리마인드",
      "id": "0bd23b9f-6b5c-49dd-8be3-f11081d45e60",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "KA01TP250729145533585plTadCNvOYu",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{쿠폰명}",
              "value": "={{ $json.v_쿠폰명 }}"
            },
            {
              "name": "#{종료일}",
              "value": "={{ $json.v_종료일 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        656
      ],
      "name": "SOLAPI: 할인쿠폰",
      "id": "668959e6-cc70-4844-8cdd-cf066583f22b",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "KA01TP260328003106634WHeu4PCwrp6",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{후기혜택}",
              "value": "={{ $json.v_후기혜택 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        896
      ],
      "name": "SOLAPI: 후기안내",
      "id": "a2a662e9-d60f-4d47-92a4-720954aa6619",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Code: 파싱').first().json.ch }}\",\n  \"thread_ts\": \"{{ $('Code: 파싱').first().json.ts }}\",\n  \"text\": \"📊 발송 완료 - #{{ $('Code: 파싱').first().json.t }} {{ $('Code: 파싱').first().json.name }} ({{ $('Code: 파싱').first().json.cnt }}명)\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        688
      ],
      "name": "HTTP: 결과 보고",
      "id": "699018c0-0502-4ac6-9ff7-2b52b8936ac2",
      "credentials": {
        "slackApi": {
          "id": "Qo5l0LQ1lfrPQXGp",
          "name": "알림톡-봇"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "이기적공유회 라이브 안내",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{시간}",
              "value": "={{ $json.v_시간 }}"
            },
            {
              "name": "#{공유회명}",
              "value": "={{ $json.v_공유회명 }}"
            },
            {
              "name": "#{라이브혜택}",
              "value": "={{ $json.v_라이브혜택 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        928
      ],
      "name": "SOLAPI: 라이브안내",
      "id": "761926aa-4e3b-4021-9c26-809cd06f6807",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "KA01TP250417061338748mROUNOEEiOF",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{시간}",
              "value": "={{ $json.v_시간 }}"
            },
            {
              "name": "#{공유회명}",
              "value": "={{ $json.v_공유회명 }}"
            },
            {
              "name": "#{라이브혜택}",
              "value": "={{ $json.v_라이브혜택 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2192,
        768
      ],
      "name": "SOLAPI: 입장링크",
      "id": "d000f514-0d6e-47cb-8a07-74b773bf91dc",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "respond-to-webhook-001",
      "name": "Respond: 즉시 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        688
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "operation": "sendKakaoATA",
        "to": "={{ $json.u_phone }}",
        "channelId": "KA01PF_REDACTED_PFID",
        "templateId": "KA01TP250722045328826Fu3uUAWTGBI",
        "variables": {
          "variable": [
            {
              "name": "#{이름}",
              "value": "={{ $json.v_이름 }}"
            },
            {
              "name": "#{공유회명}",
              "value": "={{ $json.v_공유회명 }}"
            },
            {
              "name": "#{날짜}",
              "value": "={{ $json.v_날짜 }}"
            },
            {
              "name": "#{채널}",
              "value": "={{ $json.v_채널 }}"
            },
            {
              "name": "#{url}",
              "value": "={{ $json.v_url }}"
            }
          ]
        },
        "fromForKakao": "07080186760"
      },
      "type": "n8n-nodes-solapi.solapi",
      "typeVersion": 1,
      "position": [
        2448,
        928
      ],
      "id": "vod-solapi-node-id",
      "name": "SOLAPI: VOD발송",
      "credentials": {
        "solapiApiKeyApi": {
          "id": "865UuEDPEgFkZubf",
          "name": "Solapi account"
        }
      }
    }
  ],
  "connections": {
    "Schedule: 새 공유회": {
      "main": [
        [
          {
            "node": "Postgres: 새 공유회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: 새 공유회": {
      "main": [
        [
          {
            "node": "Code: 새 공유회 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 새 공유회 알림": {
      "main": [
        [
          {
            "node": "HTTP: 새 공유회 슬랙",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code: 알림톡 판별",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 알림톡 판별": {
      "main": [
        [
          {
            "node": "Postgres: 프로그램 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: 프로그램 조회": {
      "main": [
        [
          {
            "node": "Code: 변수 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 변수 준비": {
      "main": [
        [
          {
            "node": "Postgres: 대상자 수",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: 대상자 수": {
      "main": [
        [
          {
            "node": "Code: 슬랙 메시지",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 슬랙 메시지": {
      "main": [
        [
          {
            "node": "HTTP: 슬랙 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: 승인": {
      "main": [
        [
          {
            "node": "Respond: 즉시 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 파싱": {
      "main": [
        [
          {
            "node": "Switch: 액션",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 액션": {
      "main": [
        [
          {
            "node": "HTTP: 취소 메시지",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: 승인 확인",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: 링크 모달",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: 승인 확인",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: 수정 모달 생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: 수정 미리보기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 수정 모달 생성": {
      "main": [
        [
          {
            "node": "HTTP: 수정 모달",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 수정 미리보기": {
      "main": [
        [
          {
            "node": "HTTP: 수정 미리보기 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: 승인 확인": {
      "main": [
        [
          {
            "node": "Code: SQL 재생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: SQL 재생성": {
      "main": [
        [
          {
            "node": "Postgres: 대상자 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: 대상자 조회": {
      "main": [
        [
          {
            "node": "Code: 발송 데이터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: 발송 데이터": {
      "main": [
        [
          {
            "node": "Switch: 템플릿",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Switch: 템플릿",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: 템플릿": {
      "main": [
        [
          {
            "node": "SOLAPI: 오픈리마인드",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 오픈리마인드",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 리마인드",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 할인쿠폰",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 입장링크",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 후기안내",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: 라이브안내",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLAPI: VOD발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 오픈리마인드": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 리마인드": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 할인쿠폰": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 후기안내": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 라이브안내": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: 입장링크": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond: 즉시 200": {
      "main": [
        [
          {
            "node": "Code: 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLAPI: VOD발송": {
      "main": [
        [
          {
            "node": "HTTP: 결과 보고",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule: 새 공유회": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "zoomUrl": "www.selfishclub.xyz/sharing/ai-blogprofit2",
      "benefits": "✅ 공유회 다시보기 VOD 제공\n✅ 라이브 완주 시 추가 혜택 공개\n✅아아아ㅏㅇ아아아\n✅아아아아아아",
      "vodUrl": "https://n8n.selfishclub.xyz/workflow/R2FCAquAvaDPTkWP"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "5ee57500-8c5f-4ab8-921c-048e070a69c7",
  "activeVersionId": "5ee57500-8c5f-4ab8-921c-048e070a69c7",
  "versionCounter": 381,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-29T09:02:36.127Z",
      "createdAt": "2026-03-29T09:02:36.127Z",
      "role": "workflow:owner",
      "workflowId": "R2FCAquAvaDPTkWP",
      "projectId": "0sWP1ipsskxgTjqP",
      "project": {
        "updatedAt": "2025-12-23T08:36:58.249Z",
        "createdAt": "2025-12-23T07:14:36.871Z",
        "id": "0sWP1ipsskxgTjqP",
        "name": "SelfishClub Data <public.selfishclub@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ea72a43f-37e1-47aa-b3b5-8b90e85263c6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T05:14:35.190Z",
    "createdAt": "2026-04-09T05:14:35.190Z",
    "versionId": "5ee57500-8c5f-4ab8-921c-048e070a69c7",
    "workflowId": "R2FCAquAvaDPTkWP",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 0 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "name": "Schedule: 새 공유회",
        "id": "94626783-cced-412d-8a88-fa65e66d1bfc",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT iid, i_title_userside, i_full_schedule, i_eventdate, i_alimurl FROM item WHERE i_type = 'sharing' AND i_eventdate >= CURRENT_DATE AND i_open_sent_at IS NULL ORDER BY i_eventdate",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          0
        ],
        "name": "Postgres: 새 공유회",
        "id": "6ad58dd1-4ae3-413c-bd1a-f4a6f169c8d3",
        "credentials": {
          "postgres": {
            "id": "Fvwo31FZCaLAdmUl",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nif (items.length === 0) return [];\nconst lines = items.map(i => `• *${i.i_title_userside}* — ${i.i_full_schedule || ''} (${i.iid})`).join('\\n');\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`📋 오픈알림 미발송 공유회 (${items.length}개)` }},\n  { type:'section', text:{ type:'mrkdwn', text: lines }},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:'👉 에밀리: Claude Code에서 `/alimtalk 공유회 오픈알림` 실행해주세요' }}\n];\nreturn [{ json: { channel:'C0AN2NZ4L7L', text:`오픈알림 미발송 공유회 ${items.length}개`, blocks:JSON.stringify(blocks) }}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          0
        ],
        "name": "Code: 새 공유회 알림",
        "id": "953c34b5-8457-4acb-8903-5d307aa385ce"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          0
        ],
        "name": "HTTP: 새 공유회 슬랙",
        "id": "87e7feb6-2c9d-4432-9fb6-d1331f2949b5",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 1 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          240
        ],
        "name": "Schedule Trigger",
        "id": "888d4ee2-8864-4012-b66e-2955fe99aa67"
      },
      {
        "parameters": {
          "jsCode": "// 오늘 날짜 기준으로 해당되는 알림톡 전부 리턴\nconst results = [];\nconst templates = [\n  { num:1, name:'오픈 알림', tid:'KA01TP260224044955111rZoe0O3bxsZ', qt:'all_members',\n    dsql:\"i_submitdate_first::date = CURRENT_DATE\", scheduledTime:'15:00',\n    nm:false, ml:'', utm:'오픈알림' },\n  { num:2, name:'오픈 리마인드', tid:'KA01TP250718151456335cPBkIZJBkGt', qt:'non_subscribers',\n    dsql:\"i_submitdate_first::date + CASE WHEN (i_eventdate - i_submitdate_first::date) <= 4 THEN INTERVAL '1 day' ELSE INTERVAL '2 days' END = CURRENT_DATE\", scheduledTime:'13:00',\n    nm:false, ml:'', utm:'오픈리마인드' },\n  { num:3, name:'D-1 리마인드', tid:'KA01TP260328003811869hKleQPvW4us', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE + INTERVAL '1 day'\", scheduledTime:'13:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:5, name:'할인쿠폰', tid:'KA01TP250729145533585plTadCNvOYu', qt:'non_subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'13:00',\n    nm:false, ml:'', utm:'혜택알림' },\n  { num:4, name:'당일 리마인드', tid:'KA01TP260328004337699dPIbCrNF2yI', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'14:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:6, name:'입장 링크', tid:'KA01TP250417061338748mROUNOEEiOF', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'19:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:7, name:'라이브 시작 알림', tid:'KA01TP260106142352438w6fSAZpbRg4', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'20:00',\n    nm:true, ml:'줌링크를 입력해주세요', utm:null },\n  { num:8, name:'혜택 안내', tid:'KA01TP260328003106634WHeu4PCwrp6', qt:'subscribers',\n    dsql:\"i_eventdate = CURRENT_DATE\", scheduledTime:'22:00',\n    nm:true, ml:'노션 링크를 입력해주세요', utm:null },\n  { num:9, name:'VOD 발송', tid:'KA01TP250722045328826Fu3uUAWTGBI', qt:'subscribers',\n    dsql:\"i_eventdate + INTERVAL '3 days' = CURRENT_DATE\", scheduledTime:'18:00',\n    nm:true, ml:'VOD 링크를 입력해주세요', utm:null },\n];\n\n// 테스트 모드: iid_999 강제\nconst testMode = true;\nif (testMode) {\n  // 오늘이 오픈일인 것처럼 ① + D-day인 것처럼 ③④⑤⑥⑦⑧ 전부 테스트\n  const testTemplates = [\n    { ...templates[0], dsql:\"iid = 'iid_999'\" },  // ①\n    { ...templates[1], dsql:\"iid = 'iid_999'\" },  // ②\n    { ...templates[2], dsql:\"iid = 'iid_999'\" },  // ③\n    { ...templates[3], dsql:\"iid = 'iid_999'\" },  // ⑤\n    { ...templates[4], dsql:\"iid = 'iid_999'\" },  // ④\n    { ...templates[5], dsql:\"iid = 'iid_999'\" },  // ⑥\n    { ...templates[6], dsql:\"iid = 'iid_999'\" },  // ⑦\n    { ...templates[7], dsql:\"iid = 'iid_999'\" },  // ⑧\n    { ...templates[8], dsql:\"iid = 'iid_999'\" },  // ⑨\n  ];\n  return testTemplates.map(t => {\n    t.program_sql = `SELECT iid, i_title_userside, i_full_schedule, i_alimurl, i_vodurl, i_eventdate, i_submitdate_first, i_submitdate_last, i_paid_tf, i_formid_webflow FROM item WHERE ${t.dsql}`;\n    return { json: t };\n  });\n}\n\n// 프로덕션: 각 조건에 맞는 것만 리턴\nreturn templates.map(t => {\n  t.program_sql = `SELECT iid, i_title_userside, i_full_schedule, i_alimurl, i_vodurl, i_eventdate, i_submitdate_first, i_submitdate_last, i_paid_tf, i_formid_webflow FROM item WHERE i_type = 'sharing' AND ${t.dsql}`;\n  return { json: t };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          240
        ],
        "name": "Code: 알림톡 판별",
        "id": "7d09cc39-40fb-4fa4-b718-c77c92742a99"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.program_sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          240
        ],
        "name": "Postgres: 프로그램 조회",
        "id": "7ffe217d-0408-4265-b2c8-1a407b0b06f6",
        "credentials": {
          "postgres": {
            "id": "Fvwo31FZCaLAdmUl",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allTemplates = $('Code: 알림톡 판별').all();\nconst allItems = $input.all();\nconst days = ['일','월','화','수','목','금','토'];\nconst kd = new Date(Date.now() + 9*3600000);\nconst ymd = kd.toISOString().slice(2,10).replace(/-/g,'');\n\nreturn allItems.map((inputItem, idx) => {\n  const t = allTemplates[idx].json;\n  const item = inputItem.json;\n  const tm = (item.i_full_schedule || '').match(/(\\d{1,2}:\\d{2})/);\n  const time = tm ? tm[1] : '20:00';\n  let ed = '';\n  if (item.i_submitdate_last) { const d = new Date(item.i_submitdate_last); ed = `${d.getMonth()+1}월${d.getDate()}일(${days[d.getDay()]})`; }\n  let vodDeadline = '';\n  if (item.i_eventdate) { const vd = new Date(new Date(item.i_eventdate).getTime() + 7*24*3600000); vodDeadline = `${vd.getFullYear()}년 ${vd.getMonth()+1}월 ${vd.getDate()}일(${days[vd.getDay()]})`; }\n  let period = '';\n  if (item.i_submitdate_first && item.i_submitdate_last) {\n    const df = new Date(item.i_submitdate_first);\n    const dl = new Date(item.i_submitdate_last);\n    period = `${df.getMonth()+1}/${df.getDate()}~${dl.getMonth()+1}/${dl.getDate()}`;\n  }\n  const sm = (item.i_alimurl || '').match(/\\/sharing\\/([^/?]+)/);\n  const slug = sm ? sm[1] : (item.i_formid_webflow || '');\n  let utmUrl = '';\n  if (t.utm) utmUrl = `www.selfishclub.xyz/sharing/${slug}?utm_medium=crm&utm_source=alimtalk&utm_campaign=${slug}&utm_content=${ymd}_${t.utm}&utm_term=inbound`;\n  const iid = (item.iid || '').replace(/[^a-zA-Z0-9_]/g, '');\n  let csql;\n  if (t.qt === 'subscribers') {\n    csql = `SELECT COUNT(DISTINCT u_phone) as cnt FROM (SELECT p.u_phone FROM purchase p WHERE p.iid='${iid}' AND p.p_cancel_amount=0 AND p.u_name NOT ILIKE '%테스트%' UNION SELECT e.u_phone FROM event e JOIN item i ON e.iid=i.iid WHERE e.iid='${iid}' AND i.i_paid_tf=false AND e.u_name NOT ILIKE '%테스트%') s`;\n  } else {\n    csql = `SELECT COUNT(*) as cnt FROM member m WHERE m.u_membership_tf=true AND m.u_marketing_agree_tf=true AND m.u_phone IS NOT NULL AND m.u_name NOT ILIKE '%테스트%' AND NOT EXISTS (SELECT 1 FROM purchase p WHERE p.u_phone=m.u_phone AND p.iid='${iid}' AND p.p_cancel_amount=0) AND NOT EXISTS (SELECT 1 FROM event e WHERE e.u_phone=m.u_phone AND e.iid='${iid}')`;\n  }\n  return { json: {\n    ...t, iid: item.iid, name: item.i_title_userside, sched: item.i_full_schedule,\n    time, ed, period, slug, utmUrl, alimurl: item.i_alimurl || '',\n    lh: '✅ 공유회 다시보기 VOD 제공\\n✅ 라이브 완주 시 추가 혜택 공개',\n    rh: '공유회에서 다룬 내용이 도움이 되셨다면\\n짧은 후기를 남겨주세요🙏\\n\\n✅ 후기 작성 시 다시보기 VOD 무료 제공',\n    cpn: '이기적멤버십 프로그램 할인', link: '', vodDeadline, vodurl: item.i_vodurl || '', count_sql: csql\n  }};\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          240
        ],
        "name": "Code: 변수 준비",
        "id": "6583c907-5da9-4500-9a7a-d5b3052c73a4"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.count_sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          928,
          240
        ],
        "name": "Postgres: 대상자 수",
        "id": "3682844e-3cc3-4c41-9874-7d92b1d8ffbf",
        "credentials": {
          "postgres": {
            "id": "Fvwo31FZCaLAdmUl",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const d = $('Code: 변수 준비').item.json;\nconst cnt = $json.cnt || 0;\nif (cnt === 0) return;\n\nlet preview = '';\nswitch(d.num) {\n  case 1:\n    preview = `#{이름}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 2:\n    preview = `#{이름}님, 알림신청하신\n이기적멤버십 프로그램 모집이 시작됐어요!\n\n🟨 프로그램명 : ${d.name}\n🟨 일정: ${d.sched}\n🟨 신청기간 : ${d.period}`; break;\n  case 3:\n    preview = `#{이름}님,\n신청하신 이기적공유회가\n내일 진행됩니다💛\n\n◾공유회명 : ${d.name}\n◾일정 : ${d.sched}\n\n라이브 입장링크는\n아래 버튼을 확인하세요!`; break;\n  case 4:\n    preview = `#{이름}님,\n신청하신 이기적공유회가\n오늘 진행됩니다.\n\n◾공유회명 : ${d.name}\n◾일정 : ${d.sched}\n\n늦지 않게 만나요✨`; break;\n  case 5:\n    preview = `#{이름}님, 가입하신 이기적멤버십\n프로그램 할인 쿠폰이 발급되었습니다!\n\n🎁쿠폰명 : ${d.cpn}\n⏰사용 종료일 : ${d.ed}\n\n해당 쿠폰은 종료일 이후 자동 소멸되어 적용이 불가합니다.`; break;\n  case 6:\n    preview = `#{이름}님께서 신청하신\n이기적공유회가 ${d.time}에 시작됩니다😆\n늦지 않게 입장해주세요!\n\n🟨 공유회명 : ${d.name}\n🟨 라이브혜택 :\n${d.lh}\n👇하단 '라이브 입장하기' 클릭👇`; break;\n  case 7:\n    preview = `#{이름}님!\n신청하신 이기적공유회\n${d.name}이 시작됐어요🔥\n\n라이브 참여자에게만 제공되는\n특별한 자료집도 받아가세요🎁\n✅ ${d.rh}`; break;\n  case 8:\n    preview = `#{이름}님, 지금 참여하신\n공유회 다시보기 및 자세한 안내는\n아래 버튼을 눌러 확인해주세요!\n\n◾공유회명 : ${d.name}`; break;\n  case 9:\n    preview = `📢 #{이름}님께서 신청하신\n${d.name}\n다시보기 VOD가 도착했어요!\n\n✅ 열람기한 : ${d.vodDeadline || d.ed || ''}\n✅ 열람방법 : ${d.cpn || '셀피쉬클럽'}\n\n👇🏻아래 버튼을 눌러 확인해주세요👇🏻`; break;\n}\n\nconst cb = JSON.stringify({\n  t:d.num, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched,\n  time:d.time, url:d.utmUrl||d.alimurl, slug:d.slug,\n  nm:d.nm, ml:d.ml, cnt, lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||''\n});\n\nconst numLabel = {1:'오픈알림',2:'오픈리마인드',3:'D-1 리마인드',4:'당일리마인드',5:'할인쿠폰',6:'입장링크',7:'라이브시작',8:'혜택안내',9:'VOD발송'};\nconst em = {1:'🔔',2:'📣',3:'📅',4:'🔔',5:'🎁',6:'🔗',7:'🔥',8:'📋',9:'📹'};\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`${em[d.num]||'📢'} [#${d.num} ${numLabel[d.num]||d.name}] ${d.scheduledTime || \"\"} 발송 예정` }},\n  { type:'section', fields:[\n    { type:'mrkdwn', text:`*공유회:*\n${d.name}` },\n    { type:'mrkdwn', text:`*대상:*\n${cnt}명` },\n    { type:'mrkdwn', text:`*일정:*\n${d.sched}` },\n    { type:'mrkdwn', text:`*알림톡:*\n#${d.num} ${numLabel[d.num]||d.name}` }\n  ]},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:`📋 *알림톡 미리보기:*\n\\`\\`\\`\n${preview}\n\\`\\`\\`` }},\n  { type:'divider' },\n  { type:'context', elements:[{ type:'mrkdwn', text:'⚠️ *승인 시 예약 발송이 확정됩니다.* 카피·링크·시간을 반드시 확인 후 승인해주세요.' }]},\n  { type:'actions', elements:[\n    { type:'button', text:{ type:'plain_text', text:'✅ 이대로 발송' }, style:'primary', action_id:'cron_approve', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'✏️ 수정' }, action_id:'cron_edit', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'❌ 취소' }, style:'danger', action_id:'cron_reject', value:cb }\n  ]}\n];\n\nreturn {\n  channel: 'C0AN2NZ4L7L',\n  text: `[#${d.num} ${numLabel[d.num]||d.name}] ${d.name} - ${cnt}명`,\n  blocks: JSON.stringify(blocks)\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1152,
          240
        ],
        "name": "Code: 슬랙 메시지",
        "id": "5449c3e6-02d3-496f-aabd-6cea77cfd5c3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1376,
          240
        ],
        "name": "HTTP: 슬랙 전송",
        "id": "484031aa-b8f6-483f-b962-244c718291ee",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "alimtalk-approval",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          688
        ],
        "name": "Webhook: 승인",
        "id": "f6cd1ed5-9098-4aa5-a7af-a27d040c4c8f",
        "webhookId": "alimtalk-approval"
      },
      {
        "parameters": {
          "jsCode": "const strip = u => (u||'').replace(/^https?:\\/\\//, '');\nconst payloadStr = $input.item.json.body?.payload;\nif (!payloadStr) return [{ json: { action: 'unknown' } }];\nconst payload = JSON.parse(payloadStr);\nconst staticData = $getWorkflowStaticData('global');\n\nif (payload.type === 'view_submission') {\n  const cbid = payload.view?.callback_id;\n  const meta = JSON.parse(payload.view?.private_metadata || '{}');\n  const vals = payload.view?.state?.values || {};\n\n  if (cbid === 'alimtalk_edit') {\n    const updated = { ...meta };\n    if (vals.f_name?.v?.value) updated.name = vals.f_name.v.value;\n    if (vals.f_sched?.v?.value) updated.sched = vals.f_sched.v.value;\n    if (vals.f_time?.v?.value) updated.time = vals.f_time.v.value;\n    if (vals.f_lh?.v?.value) updated.lh = vals.f_lh.v.value;\n    if (vals.f_rh?.v?.value) updated.rh = vals.f_rh.v.value;\n    if (vals.f_cpn?.v?.value) updated.cpn = vals.f_cpn.v.value;\n    if (vals.f_ed?.v?.value) updated.ed = vals.f_ed.v.value;\n    if (vals.f_period?.v?.value) updated.period = vals.f_period.v.value;\n    if (vals.f_link?.v?.value) updated.link = strip(vals.f_link.v.value);\n\n    // ③ D-1: 줌링크 staticData에 저장 → ④⑥⑦ 재사용\n    if (updated.t === 3 && updated.link) {\n      staticData.zoomUrl = strip(updated.link);\n    }\n    // ⑥ 입장링크: 라이브혜택 staticData에 저장 → ⑦ 재사용\n    if (updated.t === 6 && updated.lh) {\n      staticData.benefits = updated.lh;\n    }\n    // ⑨ VOD: VOD링크 staticData에 저장\n    if (updated.t === 9 && updated.link) {\n      staticData.vodUrl = strip(updated.link);\n    }\n\n    return [{ json: { action: 'edit_submit', ...updated, user_name: payload.user?.name || '' } }];\n  }\n\n  if (cbid === 'alimtalk_url') {\n    const url = strip(vals.url_block?.url_input?.value || '');\n    const result = { action: 'modal_submit', input_url: url, ...meta, user_name: payload.user?.name || '' };\n\n    // ③ URL 모달에서도 줌링크 저장\n    if (meta.t === 3 && url) {\n      staticData.zoomUrl = strip(url);\n    }\n    if (meta.t === 6 && url) {\n      // ⑥은 URL이 아니라 라이브혜택이지만, URL 모달이면 줌링크\n    }\n\n    return [{ json: result }];\n  }\n\n  return [{ json: { action: 'unknown' } }];\n}\n\nconst act = payload.actions?.[0];\nconst cb = JSON.parse(act?.value || '{}');\nconst base = { ch: payload.channel?.id, ts: payload.message?.ts, user_name: payload.user?.name || '', ...cb };\n\nif (act?.action_id === 'cron_reject') return [{ json: { action: 'reject', ...base } }];\nif (act?.action_id === 'cron_edit') return [{ json: { action: 'edit', trigger_id: payload.trigger_id, ...base } }];\nif (act?.action_id === 'cron_approve') {\n  // ④⑦ 자동발송: 줌링크가 staticData에 있으면 바로 승인\n  if (cb.t === 4 || cb.t === 7) {\n    const link = staticData.zoomUrl || cb.link || '';\n    if (link) {\n      return [{ json: { action: 'approve_direct', input_url: link, ...base, link } }];\n    }\n  }\n\n  if (cb.nm && !cb.link) return [{ json: { action: 'approve_modal', trigger_id: payload.trigger_id, ...base } }];\n  return [{ json: { action: 'approve_direct', input_url: cb.link || null, ...base } }];\n}\nreturn [{ json: { action: 'unknown' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          688
        ],
        "name": "Code: 파싱",
        "id": "c306c68d-41ae-4489-ad37-1b90f5dc155a"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "reject",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "reject"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "approve_direct",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "approve_direct"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "approve_modal",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "approve_modal"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "modal_submit",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "modal_submit"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "edit",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "edit"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action }}",
                      "rightValue": "edit_submit",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "edit_submit"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          464,
          688
        ],
        "name": "Switch: 액션",
        "id": "80a44831-946a-48fa-a250-cf8e09dad8c3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $json.ch }}\",\n  \"thread_ts\": \"{{ $json.ts }}\",\n  \"text\": \"❌ {{ $json.user_name }}님이 발송을 취소했습니다.\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          992
        ],
        "name": "HTTP: 취소 메시지",
        "id": "babc6b61-c852-4959-9d0c-8e31ed67c966",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/views.open",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ trigger_id: $json.trigger_id, view: {\n  type: 'modal', callback_id: 'alimtalk_url', title: { type: 'plain_text', text: '링크 입력' },\n  submit: { type: 'plain_text', text: '발송' }, close: { type: 'plain_text', text: '취소' },\n  private_metadata: JSON.stringify({ t:$json.t, tid:$json.tid, iid:$json.iid, name:$json.name, sched:$json.sched, time:$json.time, slug:$json.slug, nm:$json.nm, ml:$json.ml, cnt:$json.cnt, lh:$json.lh, rh:$json.rh, cpn:$json.cpn, ed:$json.ed, period:$json.period||'', qt:$json.qt, link:'', ch:$json.ch, ts:$json.ts }),\n  blocks: [{ type:'input', block_id:'url_block', element:{ type:'url_text_input', action_id:'url_input', placeholder:{ type:'plain_text', text: $json.ml } }, label:{ type:'plain_text', text: $json.ml } }]\n}}) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          800
        ],
        "name": "HTTP: 링크 모달",
        "id": "cb76d5e7-98cc-452f-acac-2e11f52399f9",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $json;\nconst meta = JSON.stringify({ t:d.t, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched, time:d.time, url:d.url||'', slug:d.slug, nm:d.nm, ml:d.ml, cnt:d.cnt, lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||'', ch:d.ch, ts:d.ts });\n\nconst blocks = [];\n// ① 오픈알림 — 공유회명에 카피 (multiline)\nif (d.t === 1) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_period', element:{ type:'plain_text_input', action_id:'v', initial_value: d.period||'' }, label:{ type:'plain_text', text:'신청기간' }});\n}\n// ① URL 필드 추가\nif (d.t === 1) {\n  blocks.push({ type:\"input\", block_id:\"f_link\", optional:true, element:{ type:\"plain_text_input\", action_id:\"v\", initial_value: d.url||\"\", placeholder:{ type:\"plain_text\", text:\"UTM URL (자동생성됨, 수정 필요시만)\" }}, label:{ type:\"plain_text\", text:\"URL (옵션)\" }});\n}\n// ② 오픈리마인드 — 프로그램명에 카피 (multiline)\nif (d.t === 2) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'프로그램명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_period', element:{ type:'plain_text_input', action_id:'v', initial_value: d.period||'' }, label:{ type:'plain_text', text:'신청기간 (예: 3/18~3/31)' }});\n}\n// ③ D-1 리마인드 — 공유회명+일정\nif (d.t === 3) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크 (옵션)' }});\n}\n// ④ 당일 리마인드 — 공유회명+일정\nif (d.t === 4) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_sched', element:{ type:'plain_text_input', action_id:'v', initial_value: d.sched||'' }, label:{ type:'plain_text', text:'일정' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크 (옵션)' }});\n}\n// ⑤ 할인쿠폰 — 쿠폰명(multiline)+종료일\nif (d.t === 5) {\n  blocks.push({ type:'input', block_id:'f_cpn', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.cpn||'' }, label:{ type:'plain_text', text:'쿠폰명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_ed', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.ed||'' }, label:{ type:'plain_text', text:'종료일 + 안내문구' }});\n}\n// ⑥ 입장링크 — 공유회명+시간+라이브혜택+줌링크\nif (d.t === 6) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_time', element:{ type:'plain_text_input', action_id:'v', initial_value: d.time||'20:00' }, label:{ type:'plain_text', text:'시간' }});\n  blocks.push({ type:'input', block_id:'f_lh', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.lh||'' }, label:{ type:'plain_text', text:'라이브혜택' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크' }});\n}\n// ⑦ 라이브 시작알림 — 프로그램명+자료집리스트+줌링크\nif (d.t === 7) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'프로그램명' }});\n  blocks.push({ type:'input', block_id:'f_rh', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.rh||'' }, label:{ type:'plain_text', text:'자료집리스트' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'줌링크를 입력해주세요' }}, label:{ type:'plain_text', text:'줌링크' }});\n}\n// ⑧ 혜택안내(노션) — 공유회명(multiline)+노션링크\nif (d.t === 8) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', multiline:true, initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명 (카피 입력)' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'노션 링크를 입력해주세요' }}, label:{ type:'plain_text', text:'노션 링크' }});\n}\n\n// ⑨ VOD 발송 — 공유회명+열람기한+열람방법+VOD링크\nif (d.t === 9) {\n  blocks.push({ type:'input', block_id:'f_name', element:{ type:'plain_text_input', action_id:'v', initial_value: d.name||'' }, label:{ type:'plain_text', text:'공유회명' }});\n  blocks.push({ type:'input', block_id:'f_ed', element:{ type:'plain_text_input', action_id:'v', initial_value: d.ed||d.vodDeadline||'' }, label:{ type:'plain_text', text:'열람기한 (#{날짜})' }});\n  blocks.push({ type:'input', block_id:'f_cpn', element:{ type:'plain_text_input', action_id:'v', initial_value: d.cpn||'셀피쉬클럽' }, label:{ type:'plain_text', text:'열람방법 (#{채널})' }});\n  blocks.push({ type:'input', block_id:'f_link', optional:true, element:{ type:'plain_text_input', action_id:'v', initial_value: d.link||'', placeholder:{ type:'plain_text', text:'VOD 링크 (https:// 없이)' }}, label:{ type:'plain_text', text:'VOD 링크' }});\n}\n\nreturn [{ json: { trigger_id: d.trigger_id, meta, blocks: JSON.stringify(blocks) }}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          592
        ],
        "name": "Code: 수정 모달 생성",
        "id": "6355cc1c-fc72-4646-9119-18e322715995"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/views.open",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"trigger_id\": \"{{ $json.trigger_id }}\",\n  \"view\": {\n    \"type\": \"modal\",\n    \"callback_id\": \"alimtalk_edit\",\n    \"title\": { \"type\": \"plain_text\", \"text\": \"변수 수정\" },\n    \"submit\": { \"type\": \"plain_text\", \"text\": \"수정 완료\" },\n    \"close\": { \"type\": \"plain_text\", \"text\": \"취소\" },\n    \"private_metadata\": {{ JSON.stringify($json.meta) }},\n    \"blocks\": {{ $json.blocks }}\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          944,
          592
        ],
        "name": "HTTP: 수정 모달",
        "id": "9da8eff3-8761-419a-a400-a24ad88afca3",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $json;\nlet preview = '';\nswitch(d.t) {\n  case 1:\n    preview = `\\{이름\\}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 2:\n    preview = `\\{이름\\}님, 알림신청하신\\n이기적공유회 모집이 시작됐어요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 신청기간 : ${d.period}`; break;\n  case 3:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 내일 진행됩니다💛\\n\\n입장링크는 ${d.time}에\\n카카오톡으로 발송됩니다.\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 라이브혜택 :\\n${d.lh}`; break;\n  case 4:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 오늘 시작됩니다💛\\n\\n입장링크는 ${d.time}에\\n카카오톡으로 발송됩니다.\\n\\n🟨 공유회명 : ${d.name}\\n🟨 일정 : ${d.sched}\\n🟨 라이브혜택 :\\n${d.lh}`; break;\n  case 5:\n    preview = `\\{이름\\}님, 가입하신 이기적멤버십\\n프로그램 할인 쿠폰이 발급되었습니다!\\n\\n🎁쿠폰명 : ${d.cpn}\\n⏰사용 종료일 : ${d.ed}\\n\\n해당 쿠폰은 종료일 이후 자동 소멸되어 적용이 불가합니다.`; break;\n  case 6:\n    preview = `\\{이름\\}님께서 신청하신\\n이기적공유회가 ${d.time}에 시작됩니다😆\\n늦지 않게 입장해주세요!\\n\\n🟨 공유회명 : ${d.name}\\n🟨 라이브혜택 :\\n${d.lh}\\n👇하단 '라이브 입장하기' 클릭👇`; break;\n  case 7:\n    preview = `\\{이름\\}님\\n신청하신 이기적공유회\\n후기를 남겨주세요📝\\n\\n${d.rh}\\n\\n아래 링크를 클릭하시면\\n후기 설문으로 넘어갑니다.`; break;\n  case 8:\n    preview = `\\{이름\\}님, 지금 참여하신\\n공유회 다시보기 및 자세한 안내는\\n아래 버튼을 눌러 확인해주세요!\\n\\n◾공유회명 : ${d.name}`; break;\n  case 9:\n    preview = `📢 \\{이름\\}님께서 신청하신\\n${d.name}\\n다시보기 VOD가 도착했어요!\\n\\n✅ 열람기한 : ${d.vodDeadline || d.ed || ''}\\n✅ 열람방법 : ${d.cpn || '셀피쉬클럽'}\\n\\n👇🏻아래 버튼을 눌러 확인해주세요👇🏻`; break;\n}\nconst linkNote = d.link ? `\\n✅ 링크: ${d.link}` : (d.url ? `\\n🔗 URL: ${d.url}` : (d.nm ? '\\n⚠️ 링크 미입력 (수정에서 입력 가능)' : ''));\nconst cb = JSON.stringify({\n  t:d.t, tid:d.tid, iid:d.iid, name:d.name, sched:d.sched, time:d.time,\n  url:d.url||'', slug:d.slug, nm:d.nm, ml:d.ml, cnt:d.cnt,\n  lh:d.lh, rh:d.rh, cpn:d.cpn, ed:d.ed, period:d.period||'', qt:d.qt, link:d.link||''\n});\nconst em = {1:'🔔',2:'📣',3:'📅',4:'🔔',5:'🎁',6:'🔗',7:'📝',8:'📋',9:'📹'};\nconst shortName = (d.name||\"알림톡\").split(\"\\n\")[0].substring(0,30);\nconst blocks = [\n  { type:'header', text:{ type:'plain_text', text:`${em[d.t]||\"📢\"} [#${d.t} ${shortName}] 수정됨 ✏️` }},\n  { type:'section', text:{ type:'mrkdwn', text:`*대상:* ${d.cnt}명${linkNote}` }},\n  { type:'divider' },\n  { type:'section', text:{ type:'mrkdwn', text:`📋 *수정된 미리보기:*\\n\\`\\`\\`\\n${preview}\\n\\`\\`\\`` }},\n  { type:'divider' },\n  { type:'context', elements:[{ type:'mrkdwn', text:'⚠️ *승인 시 예약 발송이 확정됩니다.* 카피·링크·시간을 반드시 확인 후 승인해주세요.' }]},\n  { type:'actions', elements:[\n    { type:'button', text:{ type:'plain_text', text:'✅ 이대로 발송' }, style:'primary', action_id:'cron_approve', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'✏️ 수정' }, action_id:'cron_edit', value:cb },\n    { type:'button', text:{ type:'plain_text', text:'❌ 취소' }, style:'danger', action_id:'cron_reject', value:cb }\n  ]}\n];\nreturn [{ json: { channel: d.ch, text: `[수정됨] #${d.t} ${d.name}`, blocks: JSON.stringify(blocks) }}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          448
        ],
        "name": "Code: 수정 미리보기",
        "id": "a7ae77c0-454d-4893-8423-aafdcf04b536"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $json.channel }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"blocks\": {{ $json.blocks }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          944,
          448
        ],
        "name": "HTTP: 수정 미리보기 전송",
        "id": "6187eca7-ee3d-427d-b317-1e2403dbb82e",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $json.ch }}\",\n  \"thread_ts\": \"{{ $json.ts }}\",\n  \"text\": \"✅ {{ $json.user_name }}님이 발송을 승인했습니다. {{ $json.cnt }}명에게 알림톡을 발송합니다.\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          816,
          688
        ],
        "name": "HTTP: 승인 확인",
        "id": "6487c857-db3b-4718-96a4-b156e266b089",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const d = $('Code: 파싱').item.json;\nconst iid = (d.iid || '').replace(/[^a-zA-Z0-9_]/g, '');\nlet sql;\nif (d.qt === 'subscribers') {\n  sql = `SELECT DISTINCT sub.u_name, sub.u_phone FROM (SELECT p.u_name, p.u_phone FROM purchase p WHERE p.iid='${iid}' AND p.p_cancel_amount=0 AND p.u_name NOT ILIKE '%테스트%' UNION SELECT e.u_name, e.u_phone FROM event e JOIN item i ON e.iid=i.iid WHERE e.iid='${iid}' AND i.i_paid_tf=false AND e.u_name NOT ILIKE '%테스트%') sub`;\n} else {\n  sql = `SELECT m.u_name, m.u_phone FROM member m WHERE m.u_membership_tf=true AND m.u_marketing_agree_tf=true AND m.u_phone IS NOT NULL AND m.u_name NOT ILIKE '%테스트%' AND NOT EXISTS (SELECT 1 FROM purchase p WHERE p.u_phone=m.u_phone AND p.iid='${iid}' AND p.p_cancel_amount=0) AND NOT EXISTS (SELECT 1 FROM event e WHERE e.u_phone=m.u_phone AND e.iid='${iid}')`;\n}\nreturn [{ json: { recipients_sql: sql } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          688
        ],
        "name": "Code: SQL 재생성",
        "id": "7daef113-7bd5-4374-bee9-6e8e674147b3"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.recipients_sql }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1264,
          688
        ],
        "name": "Postgres: 대상자 조회",
        "id": "c5c22ce5-5c4e-496b-bcd9-6a073ce5fd6e",
        "credentials": {
          "postgres": {
            "id": "Fvwo31FZCaLAdmUl",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const strip = u => (u||'').replace(/^https?:\\/\\//, '');\n// SOLAPI 예약 발송: scheduledDate 계산\nconst d_sched = $('Code: 파싱').item.json;\nconst scheduledTime = d_sched.scheduledTime || '';\nlet scheduledDate = null;\nif (scheduledTime) {\n  const today = new Date();\n  const [h, m] = scheduledTime.split(':').map(Number);\n  // KST로 설정\n  const kstDate = new Date(today.getFullYear(), today.getMonth(), today.getDate(), h, m, 0);\n  // KST → UTC (KST - 9시간)\n  scheduledDate = new Date(kstDate.getTime() - 9 * 60 * 60 * 1000).toISOString();\n}\n\n// ⚠️ iid_999 테스트 안전장치 — 에밀리 1명만 발송\nconst d_check = $('Code: 파싱').item.json;\nif (d_check.iid === 'iid_999') {\n  return [{ json: { u_phone: '01082948909', u_name: '에밀리', t: d_check.t, tid: d_check.tid,\n    v_이름: '에밀리', v_공유회명: d_check.name || '', v_프로그램명: d_check.name || '',\n    v_일정: d_check.sched || '', v_기간: d_check.period || '', v_시간: d_check.time || '20:00',\n    v_라이브혜택: d_check.lh || '', v_자료집리스트: d_check.rh || '',\n    v_쿠폰명: d_check.cpn || '', v_종료일: d_check.ed || '',\n    v_url: strip(d_check.link || d_check.url || ''), v_날짜: d_check.ed || d_check.vodDeadline || '', v_채널: d_check.cpn || '셀피쉬클럽' }}];\n}\nconst d = $('Code: 파싱').item.json;\nconst recipients = $input.all().map(i => i.json);\nreturn recipients.map(r => {\n  const base = { u_phone: r.u_phone, u_name: r.u_name, t: d.t, tid: d.tid };\n  switch(d.t) {\n    case 2:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_일정:d.sched, v_기간:d.period||'', v_url:strip(d.url||'') }};\n    case 3: case 4:\n      return { json: { ...base, v_이름:r.u_name, v_시간:d.time, v_공유회명:d.name, v_일정:d.sched, v_라이브혜택:d.lh }};\n    case 5:\n      return { json: { ...base, v_이름:r.u_name, v_쿠폰명:d.cpn, v_종료일:d.ed, v_url:strip(d.url||'') }};\n    case 6:\n      return { json: { ...base, v_이름:r.u_name, v_시간:d.time, v_공유회명:d.name, v_라이브혜택:d.lh, v_url:strip(d.input_url||d.link||'') }};\n    case 7:\n      return { json: { ...base, v_이름:r.u_name, v_후기혜택:d.rh, v_url:strip(d.input_url||d.link||'') }};\n    case 8:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_url:strip(d.input_url||d.link||'') }};\n    case 9:\n      return { json: { ...base, v_이름:r.u_name, v_공유회명:d.name, v_날짜:d.ed||d.vodDeadline||'', v_채널:d.cpn||'셀피쉬클럽', v_url:strip(d.input_url||d.link||'') }};\n    default: return { json: base };\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          688
        ],
        "name": "Code: 발송 데이터",
        "id": "509f81fa-21b0-4243-98e3-dd7ef85b5468"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1728,
          688
        ],
        "name": "SplitInBatches",
        "id": "b0e28331-44de-45af-8d08-6facf24a8f4a"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "오픈알림"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "오픈리마인드"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "3",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    },
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "4",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "or"
                },
                "renameOutput": true,
                "outputKey": "리마인드"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "5",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "할인쿠폰"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "6",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "입장링크"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "7",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "후기안내"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "8",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "라이브안내"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.t }}",
                      "rightValue": "9",
                      "operator": {
                        "type": "number",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "VOD발송"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1968,
          688
        ],
        "name": "Switch: 템플릿",
        "id": "2437213d-2e39-4ece-9483-51ea00e9fd2d"
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "KA01TP260224044955111rZoe0O3bxsZ",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{공유회명}",
                "value": "={{ $json.v_공유회명 }}"
              },
              {
                "name": "#{일정}",
                "value": "={{ $json.v_일정 }}"
              },
              {
                "name": "#{기간}",
                "value": "={{ $json.v_기간 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          416
        ],
        "name": "SOLAPI: 오픈리마인드",
        "id": "d61819f3-f350-4469-a576-780d66216af4",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "={{ $json.tid }}",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{시간}",
                "value": "={{ $json.v_시간 }}"
              },
              {
                "name": "#{공유회명}",
                "value": "={{ $json.v_공유회명 }}"
              },
              {
                "name": "#{일정}",
                "value": "={{ $json.v_일정 }}"
              },
              {
                "name": "#{라이브혜택}",
                "value": "={{ $json.v_라이브혜택 }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          528
        ],
        "name": "SOLAPI: 리마인드",
        "id": "0bd23b9f-6b5c-49dd-8be3-f11081d45e60",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "KA01TP250729145533585plTadCNvOYu",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{쿠폰명}",
                "value": "={{ $json.v_쿠폰명 }}"
              },
              {
                "name": "#{종료일}",
                "value": "={{ $json.v_종료일 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          656
        ],
        "name": "SOLAPI: 할인쿠폰",
        "id": "668959e6-cc70-4844-8cdd-cf066583f22b",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "KA01TP260328003106634WHeu4PCwrp6",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{후기혜택}",
                "value": "={{ $json.v_후기혜택 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          896
        ],
        "name": "SOLAPI: 후기안내",
        "id": "a2a662e9-d60f-4d47-92a4-720954aa6619",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"channel\": \"{{ $('Code: 파싱').first().json.ch }}\",\n  \"thread_ts\": \"{{ $('Code: 파싱').first().json.ts }}\",\n  \"text\": \"📊 발송 완료 - #{{ $('Code: 파싱').first().json.t }} {{ $('Code: 파싱').first().json.name }} ({{ $('Code: 파싱').first().json.cnt }}명)\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2416,
          688
        ],
        "name": "HTTP: 결과 보고",
        "id": "699018c0-0502-4ac6-9ff7-2b52b8936ac2",
        "credentials": {
          "slackApi": {
            "id": "Qo5l0LQ1lfrPQXGp",
            "name": "알림톡-봇"
          }
        }
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "이기적공유회 라이브 안내",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{시간}",
                "value": "={{ $json.v_시간 }}"
              },
              {
                "name": "#{공유회명}",
                "value": "={{ $json.v_공유회명 }}"
              },
              {
                "name": "#{라이브혜택}",
                "value": "={{ $json.v_라이브혜택 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          928
        ],
        "name": "SOLAPI: 라이브안내",
        "id": "761926aa-4e3b-4021-9c26-809cd06f6807",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "KA01TP250417061338748mROUNOEEiOF",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{시간}",
                "value": "={{ $json.v_시간 }}"
              },
              {
                "name": "#{공유회명}",
                "value": "={{ $json.v_공유회명 }}"
              },
              {
                "name": "#{라이브혜택}",
                "value": "={{ $json.v_라이브혜택 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2192,
          768
        ],
        "name": "SOLAPI: 입장링크",
        "id": "d000f514-0d6e-47cb-8a07-74b773bf91dc",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "noData",
          "options": {}
        },
        "id": "respond-to-webhook-001",
        "name": "Respond: 즉시 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          208,
          688
        ]
      },
      {
        "parameters": {
          "authentication": "apiKey",
          "operation": "sendKakaoATA",
          "to": "={{ $json.u_phone }}",
          "channelId": "KA01PF_REDACTED_PFID",
          "templateId": "KA01TP250722045328826Fu3uUAWTGBI",
          "variables": {
            "variable": [
              {
                "name": "#{이름}",
                "value": "={{ $json.v_이름 }}"
              },
              {
                "name": "#{공유회명}",
                "value": "={{ $json.v_공유회명 }}"
              },
              {
                "name": "#{날짜}",
                "value": "={{ $json.v_날짜 }}"
              },
              {
                "name": "#{채널}",
                "value": "={{ $json.v_채널 }}"
              },
              {
                "name": "#{url}",
                "value": "={{ $json.v_url }}"
              }
            ]
          },
          "fromForKakao": "07080186760"
        },
        "type": "n8n-nodes-solapi.solapi",
        "typeVersion": 1,
        "position": [
          2448,
          928
        ],
        "id": "vod-solapi-node-id",
        "name": "SOLAPI: VOD발송",
        "credentials": {
          "solapiApiKeyApi": {
            "id": "865UuEDPEgFkZubf",
            "name": "Solapi account"
          }
        }
      }
    ],
    "connections": {
      "Schedule: 새 공유회": {
        "main": [
          [
            {
              "node": "Postgres: 새 공유회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: 새 공유회": {
        "main": [
          [
            {
              "node": "Code: 새 공유회 알림",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 새 공유회 알림": {
        "main": [
          [
            {
              "node": "HTTP: 새 공유회 슬랙",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code: 알림톡 판별",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 알림톡 판별": {
        "main": [
          [
            {
              "node": "Postgres: 프로그램 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: 프로그램 조회": {
        "main": [
          [
            {
              "node": "Code: 변수 준비",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 변수 준비": {
        "main": [
          [
            {
              "node": "Postgres: 대상자 수",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: 대상자 수": {
        "main": [
          [
            {
              "node": "Code: 슬랙 메시지",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 슬랙 메시지": {
        "main": [
          [
            {
              "node": "HTTP: 슬랙 전송",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: 승인": {
        "main": [
          [
            {
              "node": "Respond: 즉시 200",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 파싱": {
        "main": [
          [
            {
              "node": "Switch: 액션",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: 액션": {
        "main": [
          [
            {
              "node": "HTTP: 취소 메시지",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP: 승인 확인",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP: 링크 모달",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP: 승인 확인",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: 수정 모달 생성",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code: 수정 미리보기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 수정 모달 생성": {
        "main": [
          [
            {
              "node": "HTTP: 수정 모달",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 수정 미리보기": {
        "main": [
          [
            {
              "node": "HTTP: 수정 미리보기 전송",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: 승인 확인": {
        "main": [
          [
            {
              "node": "Code: SQL 재생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: SQL 재생성": {
        "main": [
          [
            {
              "node": "Postgres: 대상자 조회",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres: 대상자 조회": {
        "main": [
          [
            {
              "node": "Code: 발송 데이터",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: 발송 데이터": {
        "main": [
          [
            {
              "node": "Switch: 템플릿",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SplitInBatches": {
        "main": [
          [
            {
              "node": "Switch: 템플릿",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch: 템플릿": {
        "main": [
          [
            {
              "node": "SOLAPI: 오픈리마인드",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 오픈리마인드",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 리마인드",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 할인쿠폰",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 입장링크",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 후기안내",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: 라이브안내",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SOLAPI: VOD발송",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 오픈리마인드": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 리마인드": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 할인쿠폰": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 후기안내": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 라이브안내": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: 입장링크": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond: 즉시 200": {
        "main": [
          [
            {
              "node": "Code: 파싱",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SOLAPI: VOD발송": {
        "main": [
          [
            {
              "node": "HTTP: 결과 보고",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "SelfishClub Data",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T05:14:35.349Z",
        "id": 715,
        "workflowId": "R2FCAquAvaDPTkWP",
        "versionId": "5ee57500-8c5f-4ab8-921c-048e070a69c7",
        "event": "activated",
        "userId": "ea72a43f-37e1-47aa-b3b5-8b90e85263c6"
      },
      {
        "createdAt": "2026-04-09T05:14:35.294Z",
        "id": 714,
        "workflowId": "R2FCAquAvaDPTkWP",
        "versionId": "5ee57500-8c5f-4ab8-921c-048e070a69c7",
        "event": "deactivated",
        "userId": "ea72a43f-37e1-47aa-b3b5-8b90e85263c6"
      }
    ]
  }
}