emily-crm/scripts/n8n-backup-kaplus-friendtalk-20260411.json
{"updatedAt":"2026-04-11T14:49:16.048Z","createdAt":"2026-03-29T09:20:04.304Z","id":"QdyAf4Z8I5yjwIrw","name":"카플친_친구톡_발송","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kakaoplus-send","options":{}},"id":"1d7762f5-8ed7-40f0-9a99-52e1f7e3a7cb","name":"Webhook: 카플친 발송","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"df7cce66-ceb9-4f32-8efe-59f6d962c6f6"},{"parameters":{"jsCode":"// 웹훅에서 받은 데이터\nconst { iid, phase, imageId, text, buttonText, buttonUrl } = $input.first().json.body;\n\n// 타겟 SQL: 멤버십 전체 - 신청자 - 수신거부\nconst targetSql = `\nWITH applicants AS (\n  SELECT DISTINCT u_phone FROM purchase WHERE iid = '${iid}' AND p_cancel_amount = 0\n  UNION\n  SELECT DISTINCT u_phone FROM event WHERE iid = '${iid}'\n)\nSELECT m.u_name, m.u_phone\nFROM member m\nWHERE m.u_membership_tf = true\n  AND m.u_marketing_agree_tf = true\n  AND m.u_phone IS NOT NULL\n  AND m.u_name NOT ILIKE '%테스트%'\n  AND m.u_phone NOT IN (SELECT u_phone FROM applicants WHERE u_phone IS NOT NULL)\nORDER BY m.u_name\n`;\n\nreturn [{ json: { iid, phase, imageId, text, buttonText, buttonUrl, targetSql } }];"},"id":"01c531cc-470d-47f0-9c96-2e7668a4fae4","name":"Code: 데이터 준비","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"{{ $json.targetSql }}","options":{}},"id":"b562b73b-061a-4ed4-a324-2c6567947ac7","name":"Postgres: 타겟 조회","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,0],"credentials":{"postgres":{"id":"Fvwo31FZCaLAdmUl","name":"Postgres account"}}},{"parameters":{"jsCode":"\nconst items = $input.all();\nconst count = items.length;\nconst d = $('Code: 데이터 준비').first().json;\n\nconst cb = JSON.stringify({\n  iid: d.iid, phase: d.phase, imageId: d.imageId,\n  text: d.text, buttonText: d.buttonText, buttonUrl: d.buttonUrl\n});\n\nconst blocks = [\n  { type: \"header\", text: { type: \"plain_text\", text: `📢 [카플친 ${d.phase}] 발송 예정` }},\n  { type: \"section\", text: { type: \"mrkdwn\", text: `*대상:* ${count}명\\n*Phase:* ${d.phase}\\n*이미지:* ${d.imageId ? \"✅ 업로드됨\" : \"❌ 없음\"}\\n*버튼:* ${d.buttonText} → ${d.buttonUrl}` }},\n  { type: \"divider\" },\n  { type: \"section\", text: { type: \"mrkdwn\", text: `📋 *카피 미리보기:*\\n\\`\\`\\`\\n${d.text || \"(텍스트 없음)\"}\\n\\`\\`\\`` }},\n  { type: \"divider\" },\n  { type: \"context\", elements: [{ type: \"mrkdwn\", text: \"⚠️ *승인 시 즉시 발송됩니다.* 대상자 수와 내용을 반드시 확인해주세요.\" }]},\n  { type: \"actions\", elements: [\n    { type: \"button\", text: { type: \"plain_text\", text: \"✅ 발송\" }, style: \"primary\", action_id: \"kakaoplus_approve\", value: cb },\n    { type: \"button\", text: { type: \"plain_text\", text: \"❌ 취소\" }, style: \"danger\", action_id: \"kakaoplus_reject\", value: cb }\n  ]}\n];\n\nconst slackBody = {\n  channel: \"C0AN2NZ4L7L\",\n  text: `[카플친 ${d.phase}] ${count}명 발송 예정`,\n  blocks: JSON.stringify(blocks)\n};\n\nreturn [{ json: { slackBody } }];\n"},"id":"fac48905-b0d4-4c2b-a153-81c892db84c6","name":"Code: 슬랙 메시지","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.slackBody) }}","options":{}},"id":"4b382297-bc29-4037-8ff5-4efc3eb22ff5","name":"HTTP: 슬랙 전송","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"credentials":{"slackApi":{"id":"Qo5l0LQ1lfrPQXGp","name":"알림톡-봇"}}},{"name":"Webhook: 승인","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[800,400],"parameters":{"httpMethod":"POST","path":"kakaoplus-approve","responseMode":"responseNode","options":{}},"webhookId":"kakaoplus-approve-webhook","id":"debd4187-4973-4d73-be2c-083e25f04c39"},{"name":"Respond: 즉시 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,400],"parameters":{"respondWith":"json","responseBody":"={\"ok\":true}"},"id":"305d2f30-4376-4886-8624-0a8b11d98eec"},{"name":"Code: 승인 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"\nconst payloadStr = $input.first().json.body?.payload;\nif (!payloadStr) return [{ json: { action: \"unknown\" } }];\nconst payload = JSON.parse(payloadStr);\n\nconst act = payload.actions?.[0];\nconst cb = JSON.parse(act?.value || \"{}\");\nconst base = { ch: payload.channel?.id, ts: payload.message?.ts, user: payload.user?.name, ...cb };\n\nif (act?.action_id === \"kakaoplus_reject\") {\n  return [{ json: { action: \"reject\", ...base } }];\n}\nif (act?.action_id === \"kakaoplus_approve\") {\n  return [{ json: { action: \"approve\", ...base } }];\n}\nreturn [{ json: { action: \"unknown\" } }];\n"},"id":"9fa977a1-877c-457c-8444-3ff8067927ca"},{"name":"Switch: 액션","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1400,400],"parameters":{"rules":{"values":[{"outputKey":"approve","conditions":{"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]}},{"outputKey":"reject","conditions":{"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}]}}]},"options":{}},"id":"0a4473ea-1964-4fc7-9a99-5b8853be8392"},{"name":"HTTP: 승인 확인","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,300],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\":\"{{ $json.ch }}\",\"thread_ts\":\"{{ $json.ts }}\",\"text\":\"✅ 카플친 {{ $json.phase }} 발송 시작합니다! ({{ $json.user }})\"}"},"credentials":{"slackApi":{"id":"Qo5l0LQ1lfrPQXGp","name":"알림톡-봇"}},"id":"1c45d814-8255-47bc-a50c-7ed1a7d6a637"},{"name":"Postgres: 승인 타겟 재조회","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1800,300],"parameters":{"operation":"executeQuery","query":"=WITH applicants AS (\n  SELECT DISTINCT u_phone FROM purchase WHERE iid = '{{ $json.iid }}' AND p_cancel_amount = 0\n  UNION\n  SELECT DISTINCT u_phone FROM event WHERE iid = '{{ $json.iid }}'\n)\nSELECT m.u_name, m.u_phone\nFROM member m\nWHERE m.u_membership_tf = true\n  AND m.u_marketing_agree_tf = true\n  AND m.u_phone IS NOT NULL\n  AND m.u_name NOT ILIKE '%테스트%'\n  AND m.u_phone NOT IN (SELECT u_phone FROM applicants WHERE u_phone IS NOT NULL)\nORDER BY m.u_name","options":{}},"credentials":{"postgres":{"id":"Fvwo31FZCaLAdmUl","name":"Postgres account"}},"id":"66dfac15-e114-46d2-a784-9b65a4445aaf"},{"name":"Code: SOLAPI 발송","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"\nconst crypto = require(\"crypto\");\nconst https = require(\"https\");\n\nconst API_KEY = \"NCST_REDACTED_KEY\";\nconst API_SECRET = process.env.SOLAPI_API_SECRET || \"\";\nconst PF_ID = \"KA01PF_REDACTED_PFID\";\n\nconst cb = $('Code: 승인 파싱').first().json;\nconst targets = $input.all().map(i => i.json);\n\nfunction getAuth() {\n  const date = new Date().toISOString();\n  const salt = crypto.randomBytes(32).toString(\"hex\");\n  const sig = crypto.createHmac(\"sha256\", API_SECRET).update(date + salt).digest(\"hex\");\n  return `HMAC-SHA256 apiKey=${API_KEY}, date=${date}, salt=${salt}, signature=${sig}`;\n}\n\nfunction send(body) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const req = https.request({\n      hostname: \"api.solapi.com\",\n      path: \"/messages/v4/send-many/detail\",\n      method: \"POST\",\n      headers: { Authorization: getAuth(), \"Content-Type\": \"application/json\" }\n    }, res => {\n      let d = \"\";\n      res.on(\"data\", c => d += c);\n      res.on(\"end\", () => resolve(JSON.parse(d)));\n    });\n    req.on(\"error\", reject);\n    req.write(data);\n    req.end();\n  });\n}\n\n// Batch send (50 per batch)\nconst results = [];\nfor (let i = 0; i < targets.length; i += 50) {\n  const batch = targets.slice(i, i + 50);\n  const messages = batch.map(t => ({\n    to: t.u_phone,\n    from: \"15886864\",\n    text: cb.text || \"셀피쉬클럽 이기적공유회 안내\",\n    kakaoOptions: {\n      pfId: PF_ID,\n      imageId: cb.imageId,\n      disableSms: true,\n      buttons: [{\n        buttonType: \"WL\",\n        buttonName: cb.buttonText || \"신청하기\",\n        linkMo: cb.buttonUrl || \"https://www.selfishclub.xyz\",\n        linkPc: cb.buttonUrl || \"https://www.selfishclub.xyz\"\n      }]\n    }\n  }));\n  const res = await send({ messages });\n  results.push({ batch: i/50+1, count: batch.length, result: res });\n}\n\nreturn [{ json: { totalSent: targets.length, batches: results.length, results } }];\n"},"id":"318a3de7-9269-405a-9066-d22ac4838176"},{"name":"HTTP: 취소 메시지","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,500],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\":\"{{ $json.ch }}\",\"thread_ts\":\"{{ $json.ts }}\",\"text\":\"❌ 카플친 {{ $json.phase }} 발송이 취소되었습니다. ({{ $json.user }})\"}"},"credentials":{"slackApi":{"id":"Qo5l0LQ1lfrPQXGp","name":"알림톡-봇"}},"id":"abf6c3ce-9273-4ed6-8405-1b602f5f55fc"},{"name":"HTTP: 발송 결과","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,300],"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"channel\":\"C0AN2NZ4L7L\",\"text\":\"📊 카플친 발송 완료 — {{ $json.totalSent }}명 발송, {{ $json.batches }}배치 처리\"}"},"credentials":{"slackApi":{"id":"Qo5l0LQ1lfrPQXGp","name":"알림톡-봇"}},"id":"e815546c-afd3-4a20-956e-7334eb79c2c6"}],"connections":{"Webhook: 카플친 발송":{"main":[[{"node":"Code: 데이터 준비","type":"main","index":0}]]},"Code: 데이터 준비":{"main":[[{"node":"Postgres: 타겟 조회","type":"main","index":0}]]},"Postgres: 타겟 조회":{"main":[[{"node":"Code: 슬랙 메시지","type":"main","index":0}]]},"Code: 슬랙 메시지":{"main":[[{"node":"HTTP: 슬랙 전송","type":"main","index":0}]]},"Webhook: 승인":{"main":[[{"node":"Respond: 즉시 200","type":"main","index":0}]]},"Respond: 즉시 200":{"main":[[{"node":"Code: 승인 파싱","type":"main","index":0}]]},"Code: 승인 파싱":{"main":[[{"node":"Switch: 액션","type":"main","index":0}]]},"Switch: 액션":{"main":[[{"node":"HTTP: 승인 확인","type":"main","index":0}],[{"node":"HTTP: 취소 메시지","type":"main","index":0}]]},"HTTP: 승인 확인":{"main":[[{"node":"Postgres: 승인 타겟 재조회","type":"main","index":0}]]},"Postgres: 승인 타겟 재조회":{"main":[[{"node":"Code: SOLAPI 발송","type":"main","index":0}]]},"Code: SOLAPI 발송":{"main":[[{"node":"HTTP: 발송 결과","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"450f4186-65d3-4f05-a94b-2b080d887f1c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-29T09:20:04.310Z","createdAt":"2026-03-29T09:20:04.310Z","role":"workflow:owner","workflowId":"QdyAf4Z8I5yjwIrw","projectId":"0sWP1ipsskxgTjqP","project":{"updatedAt":"2025-12-23T08:36:58.249Z","createdAt":"2025-12-23T07:14:36.871Z","id":"0sWP1ipsskxgTjqP","name":"SelfishClub Data <public.selfishclub@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ea72a43f-37e1-47aa-b3b5-8b90e85263c6"}}],"tags":[],"activeVersion":null}